{% if block.settings.buttonTitle %}
        {% capture cssButontStyle %}
               {% if block.settings.buttonFontSize %}
                    font-size: {{ block.settings.buttonFontSize }}px;
               {% endif %}

               {% if block.settings.buttonPaddingX %}
                    padding-left: {{ block.settings.buttonPaddingX }}px;
                    padding-right: {{ block.settings.buttonPaddingX }}px;
               {% endif %}

               {% if block.settings.buttonPaddingY %}
                    padding-top: {{ block.settings.buttonPaddingY }}px;
                    padding-bottom: {{ block.settings.buttonPaddingY }}px;
               {% endif %}

                    {% if block.settings.buttonBackground != blank and block.settings.make_button_bg_transparent == false %}
                            background-color: {{ block.settings.buttonBackground }};
                    {% endif %}

                    {% if block.settings.buttonBackground != blank and block.settings.make_button_bg_transparent == true %}
                            background-color: transparent;
                    {% endif %}

                    {% if block.settings.buttonBorderSize %} 
                            border: {{ block.settings.buttonBorderSize }}px solid 
                                {% if block.settings.buttonBorderColor %}
                                    {{ block.settings.buttonBorderColor }}
                                {% else %}   
                                    #aaa;
                                {% endif %};
                    {% endif %}
               

               {% if block.settings.buttonColor %}
                    color: {{ block.settings.buttonColor }};
               {% endif %}

               {% if block.settings.make_button_uppercase %}
                    text-transform: uppercase;
               {% endif %}

               {% if block.settings.make_button_bold %}
                    font-weight: bold;
               {% endif %}

               {% if block.settings.make_button_italic %}
                    font-style: italic;
               {% endif %}

               box-shadow:  
                    {% if block.settings.button_shadow_X %} 
                        {{ block.settings.button_shadow_X }}px 
                    {% endif %}  
                    {% if block.settings.button_shadow_Y %} 
                        {{ block.settings.button_shadow_Y }}px
                    {% endif %}  
                    {% if block.settings.button_shadow_blur %}
                        {{ block.settings.button_shadow_blur }}px 
                    {% endif %}
                    {% if block.settings.button_shadow_color %}
                        {{ block.settings.button_shadow_color }};
                    {% endif %}
                    {% if block.settings.button_text_letter_spacing %}
                        letter-spacing: {{ block.settings.button_text_letter_spacing }}px;
                    {% endif %}
                    {% if block.settings.button_border_radius %}
                        border-radius: {{ block.settings.button_border_radius }}px;
                    {% endif %}
        {% endcapture %}
    <button class="custom-banner__btn" style="{{ cssButontStyle }}">
        {{ block.settings.buttonTitle }}
    </button>
{% endif %}