<div class=trust-seals-wrapper style="padding:2em .6em .6em .6em">
     {% comment %} <a href="#proTabs2" class="trust-seals-link scrollToTab" data-trigger="tab"></a> {% endcomment %}
     <h4>Guaranteed safe checkout</h4>
     <div class="container-fluid">
         

         <div class="row">
             {% comment %} 
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'secure-checkout.png' | asset_img_url: '' }}" alt="" />
                    <h5>Secure<br>checkout</h5>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'payment-protection.png' | asset_img_url: '' }}" alt="" />
                    <h5>Payment<br>protection</h5>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'animal-cruelty.png' | asset_img_url: '' }}" alt="" />
                    <h5>Animal<br>cruelty free</h5>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'originality.png' | asset_img_url: '' }}" alt="" />
                    <h5>Originality<br>guarantee</h5>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'awarded.png' | asset_img_url: '' }}" alt="" />
                    <h5>Awarded<br>Best buy</h5>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <img class="img-fluid" src="{{ 'free-shipping.png' | asset_img_url: '' }}" alt="" />
                    <h5>$100+<br>free shipping</h5>
                </div> 
             {% endcomment %}

            <div class="col-xs-6 col-sm-6 col-md-3" style="margin-bottom:1em;padding:.2em .8em;">
                <a href="https://www.paypal.com/" target="_blank">
                    <img class="img-responsive" src="{{ 'paypal_icon.png' | asset_img_url: '' }}" alt="" style="max-width:100%;margin:0 auto;" />
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" style="margin-bottom:1em;padding:0 .6em;">
                <a href="https://www.mcafee.com/us/index.html" target="_blank">
                    <img class="img-responsive" src="{{ 'mcafee.png' | asset_img_url: '' }}" alt="" style="max-width:100%;margin:0 auto;" />
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" style="padding:0 .6em;">
                <a href="https://www.websecurity.symantec.com/theme/seal-transition?id=seal-transition" target="_blank">
                    <img class="img-responsive" src="{{ 'norton.png' | asset_img_url: '' }}" alt="" style="position:relative;top:-8px;max-width:90%;" />
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" style="padding:0 .6em;"> 
                <a href="https://www.trustarc.com/" target="_blank">
                    <img class="img-responsive" src="{{ 'truste.png' | asset_img_url: '' }}" alt="" style="position:relative;top:4px;max-width:100%;margin:0 auto;" />
                </a>
            </div>

         </div>
     </div>
 </div>

    <script type="text/javascript">
        $(document).ready(function() {
            
            window.innerWidth < 480 ? fixedNavHeight = 250 : fixedNavHeight = 180

            $('.scrollToTab').click( function(e) {
                var href = $(this).attr('href');
                e.preventDefault();
                $('[data-toggle="tab"][href="' + href + '"]').trigger('click');

                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top - fixedNavHeight + "px"
                }, {
                    duration: 500,
                    easing: "swing"
                });
                return false;
            });

        })
    </script>         