{% if settings.ajax_cart_method == "modal" %}
	<div id="cartDrawer" class="ajaxCartModal modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			    <div class="bingoCartTitle">
			        <span>{{ 'cart.general.title' | t }}</span>
			        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			    </div>
	    		<div id="cartContainer"></div>
    		</div>
		</div>
	</div>
{% endif %}
{% if settings.ajax_cart_method == "drawer" %}
	<div id="cartDrawer" class="drawer drawerRight">
	    <div class="bingoCartTitle">
	        <span>{{ 'cart.general.title' | t }}</span>
	        <div class="close jsDrawerClose">
	            <span>&times;</span>
	        </div>
	    </div>
	    <div id="cartContainer"></div>
	</div>
{% endif %}