<div class="bingoCartTop">
	<a href="/cart" class="jsDrawerOpenRight">
	{% comment %} <i class="fas fa-shopping-bag" style="font-size: 25px"></i> {% endcomment %}
	{% comment %} <i class="fas fa-shopping-basket"></i> {% endcomment %}
		{% comment %} <i class="fa fa-shopping-bag"></i> {% endcomment %}
		<!-- <span class="title">{{ 'layout.cart.title' | t }} </span> -->
		{% comment %} <span class="title">My Cart </span> {% endcomment %}
		<span id="CartCount">{{ cart.item_count }}</span>
		{% comment %} <span>{{ 'layout.cart.items_count' | t: count: cart.item_count }}:</span> {% endcomment %}
		<!-- <span id="CartCost" style="font-size: 12px;color: #72a181;"> {{ cart.total_price | money }}</span> -->	
	</a>
</div>