
<div class="mobile-slider-categories">
    <div class="container">
        <div class="slider mobile-slider-carousel">
            <div class="slide text-center">
                <a href="https://shopsophea.com/collections/skincare">
                    <img src="{{ 'skincare_nav.jpg' | asset_url }}" />
                    <span class="slide-heading">Skincare</span>
                </a>
            </div>
            <div class="slide text-center">
                <a href="https://shopsophea.com/collections/makeup">
                    <img src="{{ 'makeup_nav.jpg' | asset_url }}" />
                    <span class="slide-heading">Make up</span>
                </a>
            </div>
            <div class="slide text-center">
                <a href="https://shopsophea.com/collections/fragranceall">
                    <img src="{{ 'fragrances_nav.png' | asset_url }}" />
                    <span class="slide-heading">Fragrances</span>
                </a>
            </div>
            <div class="slide text-center">
                <a href="https://shopsophea.com/collections/men-collection">
                    <img src="{{ 'formen_nav.jpg' | asset_url }}" />
                    <span class="slide-heading">For Men</span>
                </a>
            </div>
          
        </div>

    </div>
</div>
