<div id="bingoMenuMobile" class="menuMobileContainer hidden-md hidden-lg">
	<div class="memoHeader">
		<span>{{ section.settings.bingomenu_menumobile_title }}</span>
		<div class="close btnMenuClose"><span>&times;</span></div>
	</div>
	<ul class="nav memoNav">
		{% for bingoLink in linklists[section.settings.bingomenu_linklist].links %}
			{% assign linkHandle = bingoLink.title | handleize %}

			{% if linklists[linkHandle].links != blank %}
				<li class="hasMemoDropdown{% if bingoLink.active %} active{% endif %}">
					<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
					<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
					<ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                      	{% assign ifor = forloop.index %}
						{% for bingoLink1 in linklists[linkHandle].links %}
							{% assign linkHandle = bingoLink1.title | handleize %}
							{% if linklists[linkHandle].links != blank %}
								<li class="hasMemoDropdown{% if bingoLink1.active %} active{% endif %}">
									<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
									<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
									<ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                                      	{% assign ifor1 = forloop.index %}
										{% for bingoLink2 in linklists[linkHandle].links %}
											{% assign linkHandle = bingoLink2.title | handleize %}
											{% if linklists[linkHandle].links != blank %}
												<li class="hasMemoDropdown{% if bingoLink2.active %} active{% endif %}">
													<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
													<span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i class="fa fa-angle-down"></i></span>
													<ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
														{% for bingoLink3 in linklists[linkHandle].links %}
															<li class="{% if bingoLink3.active %}active{% endif %}">
																<a href="{{ bingoLink3.url }}" title="">{{ bingoLink3.title }}</a>
															</li>
														{% endfor %}
													</ul>
												</li>
											{% else %}
												<li class="{% if bingoLink2.active %}active{% endif %}">
													<a href="{{ bingoLink2.url }}" title="">{{ bingoLink2.title }}</a>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="{% if bingoLink1.active %}active{% endif %}">
									<a href="{{ bingoLink1.url }}" title="">{{ bingoLink1.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul> 
				</li>
			{% else %}
				<li class="{% if bingoLink.active %}active{% endif %}">
					<a href="{{ bingoLink.url }}" title="">{{ bingoLink.title }}</a>
				</li>
			{% endif %}
		{% endfor %}

		{% comment %} bingo top links {% endcomment %}
			{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
				{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
				{% assign login_html = 'layout.header.login_html' | t:fullname:fullname %}
				{% assign logout = 'layout.header.logout' | t %}
				{% assign login = 'layout.header.login' | t %}
				{% assign register = 'layout.header.register' | t %}
				{% if customer  %}
					<li><a class="account" rel="nofollow" href="/account">{{ login_html }}</a></li>
					<li>{{ logout | customer_logout_link }}</li>
				{% else %}
					<li>{{ login | customer_login_link }}</li>
					<li>{{ register | customer_register_link }}</li>
				{% endif %}
			{% endif %}
			{% assign topbarMenu = section.settings.topbar_toplinks %}
			{% for itemMenu in linklists[topbarMenu].links %}
				<li><a href="{{ itemMenu.url }}" title="">{{ itemMenu.title }}</a></li>
			{% endfor %}
		{% comment %} end bingo top links {% endcomment %}
	</ul>
</div>
<div class="menuMobileOverlay hidden-md hidden-lg"></div>