<form class="formSearch" action="/search" method="get">
	<input type="hidden" name="type" value="product" />
	<input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="bingoSearch form-control" />
	<button type="submit" class="btn btnbingoSearch">
	  	<span class="fa fa-search"></span>
	  	<span class="btnSearchText">{{ 'general.search.submit' | t }}</span>
	</button>
</form>