{% if section.settings.blogsidebar_recentarticles_enable %}
    {% assign numberLimit = section.settings.blogsidebar_recentarticles_limit | plus: 0 %}
    <div class="blogSidebar blogRecentArticle">
        <h4 class="titleSidebar">{{ section.settings.blogsidebar_recentarticles_title }}</h4>
        <div class="bingoContent">
            <ul class="listSidebarBlog list-unstyled">
                {% for article in blogs[blog.handle].articles limit:numberLimit %}
                    <li>
                        <a href="{{ article.url }}">{{ article.title }}
                            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% if section.settings.blog_banner_enable %}
    <div class="blogSidebar hidden-xs">
        <div class="bingoBanner">
            {% if section.settings.blog_banner_size != blank %}
                {%- assign imageSize = section.settings.blog_banner_size -%}
            {% else %}
                {%- assign imageSize = 'master' -%}
            {% endif %}
            {% if section.settings.blog_banner_link != blank %}<a href="{{ section.settings.blog_banner_link }}" title="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}">{% endif %}
                {% if section.settings.blog_sidebar_image != blank %}
                    <img class="img-responsive" alt="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}" src="{{ section.settings.blog_sidebar_image | img_url: imageSize }}" />
                {% else %}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                {% endif %}
            {% if section.settings.blog_banner_link != blank %}</a>{% endif %}
        </div>
    </div>
{% endif %}
{% if section.settings.blogsidebar_tags_enable %}
    {% assign numberLimit = section.settings.blogsidebar_tags_limit | plus: 0 %}
    {% if blog.all_tags.size > 0 %}
        <div class="blogSidebar blogTags">
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_tags_title }}</h4>
            <div class="bingoContent">
                <ul class="blogTagsList list-inline">
                    {% for tag in blog.all_tags limit:numberLimit %}
                        {% if current_tags contains tag %}
                            <li class="active"><span>{{ tag }}</span></li>
                        {% else %}
                            <li>{{ tag | link_to_tag: tag }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}