
                            {% comment %} <div style="color: red; text-align:center">{{ current_tags }}</div> {% endcomment %}
{% unless template == 'index' %}
<section id="bingoBreadcrumbs" {% if settings.breadcrumb_bgimage %}class="breadcrumbBgimage"{% endif %}>
    <div class="breadcrumbWrapper">
        <div class="container">
            <nav>
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
                            <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    {% if template contains 'product' %}
                        {% if collection %}
                            {% if collection.handle %}
                                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                        <span itemprop="name">{{ collection.title }}</span>
                                    </a>
                                    <meta itemprop="position" content="2" />

                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ product.title }}</span></span>
                            {% if collection %}
                                {% if collection.handle %}
                                    <meta itemprop="position" content="3" />
                                {% endif %}
                            {% else %}
                                <meta itemprop="position" content="2" />
                            {% endif %}
                        </li>
                    {% elsif template contains 'collection' and collection.handle %}
                        {% if current_tags %}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                    
                                    
                                    {% include 'formatted-collection-title' %}
                                    {% if formattedCollectionTitle == '' %}
                                        <span itemprop="name">{{ collection.title }}</span>                                        
                                    {% else %}
                                        <span itemprop="name">{{ formattedCollectionTitle }}</span>                                        
                                    {% endif %}
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            {% assign formatTags = current_tags | join: " + "  | downcase %}
                                {% if formatTags  == 'hydrateandnourish' %}
                                    {%- assign formatTags = 'Hydrate and nourish' -%}
                                {% elsif formatTags == 'face' %}
                                    {%- assign formatTags = 'face' -%}
                                {% elsif formatTags == 'makeupremovers' %}    
                                    {%- assign formatTags = 'Makeup Removers' -%}
                                {% elsif formatTags == 'cleansers' %}    
                                    {%- assign formatTags = 'Cleansers' -%}
                                {% elsif formatTags == 'toners' %}    
                                    {%- assign formatTags = 'Toners' -%}
                                {% elsif formatTags == 'exfoliants' %}    
                                    {%- assign formatTags = 'Exfoliants' -%}
                                {% elsif formatTags == 'masks' %}    
                                    {%- assign formatTags = 'Masks' -%}
                                {% elsif formatTags == 'eyeandlip' %}    
                                    {%- assign formatTags = 'Eye and Lip' -%}
                                {% elsif formatTags == 'antiagingcare' %}    
                                    {%- assign formatTags = 'Anti-aging care' -%}
                                {% elsif formatTags == 'illuminating' %}    
                                    {%- assign formatTags = 'Illuminating' -%}
                                {% elsif formatTags == 'body' %}    
                                    {%- assign formatTags = 'Body' -%}
                                {% elsif formatTags == 'exfoliantes' %}    
                                    {%- assign formatTags = 'Exfoliantes' -%}
                                {% elsif formatTags == 'moisturisers' %}    
                                    {%- assign formatTags = 'Moisturisers' -%}
                                {% elsif formatTags == 'anticellulite' %}    
                                    {%- assign formatTags = 'Anti-cellulite' -%}
                                {% elsif formatTags == 'firmingcare' %}    
                                    {%- assign formatTags = 'Firming Care' -%}
                                {% elsif formatTags == 'calmandsoothe' %}    
                                    {%- assign formatTags = 'Calm & Soothe' -%}
                                {% elsif formatTags == 'correctandconceal' %}    
                                    {%- assign formatTags = 'Correct & Conceal' -%}
                                {% elsif formatTags == 'radianceandillumination' %}    
                                    {%- assign formatTags = 'Radiance & Illumination' -%}
                                {% elsif formatTags == 'treatfinelinesandwrinkles' %}    
                                    {%- assign formatTags = 'Treat Fine Lines and Wrinkles' -%}
                                {% elsif formatTags == 'firmingandsculpting' %}    
                                    {%- assign formatTags = 'Firming & Scultping' -%}
                                {% elsif formatTags == 'exfoliateanddetox' %}    
                                    {%- assign formatTags = 'Exfoliate & Detox' -%}
                                {% elsif formatTags == 'skinconcerns' %}    
                                    {%- assign formatTags = 'Skin Concerns' -%}
                                {% elsif formatTags == 'antiagingskinconcerns' %}    
                                    {%- assign formatTags = 'Anti-Aging' -%}
                                {% elsif formatTags == 'complexion' %}    
                                    {%- assign formatTags = 'Complexion' -%}
                                {% elsif formatTags == 'beautyhighlighters' %}    
                                    {%- assign formatTags = 'Beauty Highlighters' -%}
                                {% elsif formatTags == 'foundations' %}    
                                    {%- assign formatTags = 'Foundations' -%}
                                {% elsif formatTags == 'powders' %}    
                                    {%- assign formatTags = 'Powders' -%}
                                {% elsif formatTags == 'blushers' %}    
                                    {%- assign formatTags = 'Blushers' -%}
                                {% elsif formatTags == 'eyes' %}    
                                    {%- assign formatTags = 'Eyes' -%}
                                {% elsif formatTags == 'concealers' %}    
                                    {%- assign formatTags = 'Concealers' -%}
                                {% elsif formatTags == 'eyepencils' %}    
                                    {%- assign formatTags = 'Eye Pencils' -%}
                                {% elsif formatTags == 'eyeshadows' %}    
                                    {%- assign formatTags = 'Eye Shadows' -%}
                                {% elsif formatTags == 'mascaras' %}    
                                    {%- assign formatTags = 'Mascaras' -%}
                                {% elsif formatTags == 'lips' %}    
                                    {%- assign formatTags = 'Lips' -%}
                                {% elsif formatTags == 'lipsticks' %}    
                                    {%- assign formatTags = 'Lipsticks' -%}
                                {% elsif formatTags == 'glosses' %}    
                                    {%- assign formatTags = 'Glosses' -%}
                                {% elsif formatTags == 'lippencils' %}    
                                    {%- assign formatTags = 'Lip Pencils' -%}
                                {% elsif formatTags == 'skinconcernsmakeup' %}    
                                    {%- assign formatTags = 'Skin Concerns' -%}
                                {% elsif formatTags == 'concealandcorrect' %}    
                                    {%- assign formatTags = 'Conceal & Correct' -%}
                                {% elsif formatTags == 'highlightanddefine' %}    
                                    {%- assign formatTags = 'Hightlight & Define' -%}
                                {% elsif formatTags == 'radianceandglow' %}    
                                    {%- assign formatTags = 'Radiance & Glow' -%}
                                {% elsif formatTags == 'mattifyandevenout' %}    
                                    {%- assign formatTags = 'Mattify & Even out' -%}
                                {% elsif formatTags == 'men_collection' %}    
                                    {%- assign formatTags = 'Men collection' -%}

                                {% elsif formatTags == 'output_in_collection_all' %}    
                                    {% assign formatTags = '' %}
                                {% else %}
                                    {%- assign formatTags = current_tags -%}
                                {% endif %}

                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item"><span itemprop="name">{{ formatTags | join: " + " }}</span></span>
                                <meta itemprop="position" content="3" />
                            </li>
                        {% else %}
                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item">
                                            
                                    {% include 'formatted-collection-title' %}
                                    {% if formattedCollectionTitle == '' %}
                                        <span itemprop="name">{{ collection.title }}</span>                                        
                                    {% else %}
                                        <span itemprop="name">{{ formattedCollectionTitle }}</span>                                        
                                    {% endif %}
                                </span>
                                <meta itemprop="position" content="2" />
                            </li>
                        {% endif %}
                    {% elsif template contains 'blog' %}
                        {% if current_tags %}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                                    <span itemprop="name">{{ blog.title }}</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                                <meta itemprop="position" content="3" />
                            </li>
                        {% else %}
                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item"><span itemprop="name">{{ blog.title }}</span></span>
                                <meta itemprop="position" content="2" />
                            </li>
                        {% endif %}
                    {% elsif template contains 'article' %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                                <span itemprop="name">{{ blog.title }}</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ article.title }}</span></span>
                            <meta itemprop="position" content="3" />
                        </li>
                    {% elsif template contains 'page' %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    {% else %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ page_title }}</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    {% endif %}
                </ol>
            </nav>
        </div>
    </div>
</section>
{% endunless %}