<!-- /snippets/favicons.liquid -->
<!-- FAVICONS -->
<link rel="mask-icon" href="{{ safari-pinned-tab.svg | asset_url }}" color="black">
<link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}">
<link rel="icon" type="image/png" href="{{ 'android-chrome-192x192.png' | asset_url }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ 'android-chrome-512x512.png' | asset_url }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ 'android-chrome-192x192.png' | asset_url }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
<link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
<meta name="msapplication-TileImage" content="{{ 'mstile-150x150.png' | asset_url }}">
<meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">


