            {% assign formattedCollectionTitle = '' %}
            {% assign currentCollectionTitle = collection.title %}
                {% case currentCollectionTitle %}
                    {% when 'All for men' %}
                        {% assign formattedCollectionTitle = 'Men collection' %}
                    {% when 'All products' %}
                        {% assign formattedCollectionTitle = 'All products' %}
                    {% when 'Best sellers' %}
                        {% assign formattedCollectionTitle = 'Best sellers' %}
                    {% when 'Best sellers from All' %}
                        {% assign formattedCollectionTitle = 'Best sellers' %}
                    {% when 'Clarins' %}
                        {% assign formattedCollectionTitle = 'Clarins' %}
                    {% when 'Face' %}
                        {% assign formattedCollectionTitle = 'Face' %}
                    {% when 'FragranceAll' %}
                        {% assign formattedCollectionTitle = 'Fragrances' %}
                    {% when 'Gift vouchers' %}
                        {% assign formattedCollectionTitle = 'Gift vouchers' %}
                    {% when 'Home page' %}
                        {% assign formattedCollectionTitle = 'Home page' %}
                    {% when 'Just in' %}
                        {% assign formattedCollectionTitle = 'Just in' %}
                    {% when 'La Prairie' %}
                        {% assign formattedCollectionTitle = 'La Prairie' %}
                    {% when 'Lancome' %}
                        {% assign formattedCollectionTitle = 'Lancome' %}
                    {% when 'Make up' %}
                        {% assign formattedCollectionTitle = 'Make up' %}
                    {% when 'Makeup' %}
                        {% assign formattedCollectionTitle = 'Makeup' %}
                    {% when "Men's collection" %}
                        {% assign formattedCollectionTitle = "Men's collection" %}
                    {% when 'Menu for men face' %}
                        {% assign formattedCollectionTitle = 'Men collection - Face' %}
                    {% when 'Menu for men body' %}
                        {% assign formattedCollectionTitle = 'Men collection - Body' %}
                    {% when 'Skincare' %}
                        {% assign formattedCollectionTitle = 'Skincare' %}
                    {% when 'Special offers' %}
                        {% assign formattedCollectionTitle = 'Special offers' %}
                    {% when "Women's collection" %}
                        {% assign formattedCollectionTitle = "Women's collection" %}
                    {% when 'YSL' %}
                        {% assign formattedCollectionTitle = 'Yves Saint Laurent' %}      
                    {% else %}
                        {% assign formattedCollectionTitle = '' %}
                {% endcase %}