{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":1129968,"preorder_button_text":"Preorder Now","settings_enabled":true,"preorder_stock":null,"out_of_stock_message":"Out of stock","show_stock_remaining":false,"stock_remaining_message":"Only {{qty}} remaining","preorder_description":"Delivers in 20 business days","preorder_description_position":"below","badge_enabled":false,"badge_text":"","preorder_start_date":null,"preorder_end_date":null,"settings_type":"default","settings_type_id":null,"use_default":true,"shop_id":2450,"handle":null,"product_id":null,"product_image_src":null,"use_stock_management":false,"use_shopify_stock_management":true,"shopify_inventory":null,"shopify_preorder_limit":null,"shopify_stock_mgmt_method":1,"oversell_enabled":false,"badge_shape":"ribbon","product_title":null,"tag":null,"cart_label_text":null,"preorder_status":null,"preorder_status_message":null,"preorder_status_code":null,"inventory_item_id":null};
pn.settings.singleProductSettings=[{"id":1130304,"preorder_button_text":"Preorder Now","settings_enabled":false,"preorder_stock":null,"out_of_stock_message":"Out of stock","show_stock_remaining":false,"stock_remaining_message":"Only {{qty}} remaining","preorder_description":"Delivers in 20 business days","preorder_description_position":"below","badge_enabled":false,"badge_text":"","preorder_start_date":null,"preorder_end_date":null,"settings_type":"variant","settings_type_id":"12391943536722","use_default":true,"shop_id":2450,"handle":"sisley-gentle-cleansing-gel-with-tropical-resins-4-120ml","product_id":"1371735687250","product_image_src":"https://cdn.shopify.com/s/files/1/2009/6859/products/SISLEY_Gentle_Cleansing_Gel_With_Tropical_Resins_120ml.png?v=1533220626","use_stock_management":false,"use_shopify_stock_management":true,"shopify_inventory":6,"shopify_preorder_limit":null,"shopify_stock_mgmt_method":1,"oversell_enabled":false,"badge_shape":"ribbon","product_title":"SISLEY Gentle Cleansing Gel with Tropical Resins 4 oz.","tag":null,"cart_label_text":null,"preorder_status":null,"preorder_status_message":null,"preorder_status_code":null,"inventory_item_id":null}];
pn.settings.tagSettings=[];
</script>
{% endraw %}