{% comment %} <script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title }}",
    "url": "{{ shop.url }}{{ product.url }}",
    "image": "{{ shop.url }}{{ product.featured_image }}",
    "description": "{{ page_description }}",
    "offers": {
        "@type": "Offer",
        "priceCurrency": "{{ shop.currency }}",
        "price": "{{ product.price | money_without_currency }}",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock"
    }
}
</script> {% endcomment %}

<script type="application/ld+json">
    {
        "@context":"http://schema.org",
        "@type":"WebSite",
        "url":"https://shopsophea.com/",
        "name":"SOPHEA",
        "potentialAction": {
                "@type":"SearchAction",
                "target":"https://shopsophea.com//?s={search_term}",
                "query-input":"required name=search_term"
            }
    }
</script>
<script type="application/ld+json">
    {
        "@context":"http://schema.org",
        "@type":"Organization",
        "url":"https://shopsophea.com/",
        "name":"SOPHEA",
        "logo":"https://cdn.shopify.com/s/files/1/2009/6859/files/Untitled_design-8.png?11243356581939129979",
        "sameAs":["https://www.facebook.com/shopsophea/", "https://www.instagram.com/myshopsophea/"],
        "contactPoint" : { 
                        "@type" : "ContactPoint",
                        "telephone" : "+1-6465583308",
                        "contactType" : "Customer service"
                    } 
            
    }
</script>