<script>
  if (typeof(Spurit) === 'undefined') {
    var Spurit = {};
  }
  if (typeof(Spurit.Loyaltypoints) === 'undefined') {
    Spurit.Loyaltypoints = {};
  }
  Spurit.Loyaltypoints.snippet = (function(){
    var snippet = {
      appId: '4',
      shopHash: 'e8b24f0a6285b83ef235ee580d3b0202',
      moneyFormat: '{{ shop.money_format }}',
      customer: {
        id: 0,
        balance: 0,
        spent: 0,
        rewards: {
                            purchase: 0,                            share: 0,                            referral: 0,                            register: 0,                            visits: 0,                            dob: 0                    },
        referrerId: ''
      }
    };

    {% if customer %}
      var topup = JSON.parse('{{customer.metafields.Loyaltypoints.topup}}' || '{}');
      snippet.customer = {
        id: {{customer.id}},
        balance: 1 * "{{customer.metafields.Loyaltypoints.balance}}",
        spent: 1 * '{{customer.metafields.Loyaltypoints.charge}}',
        rewards: {
                      purchase: typeof(topup.purchase) !== 'undefined' ? topup.purchase : 0,                      share: typeof(topup.share) !== 'undefined' ? topup.share : 0,                      referral: typeof(topup.referral) !== 'undefined' ? topup.referral : 0,                      register: typeof(topup.register) !== 'undefined' ? topup.register : 0,                      visits: typeof(topup.visits) !== 'undefined' ? topup.visits : 0,                      dob: typeof(topup.dob) !== 'undefined' ? topup.dob : 0                  },
        referrerId: '{{customer.metafields.Loyaltypoints.referrerId}}'
      };
    {% endif %}

    {% if product %}
      snippet.product = {{product | json}};
      snippet.current_variant = {{ product.selected_or_first_available_variant | json }};
    {% endif %}

    {% if cart %}
      snippet.cartItems = {{ cart.items | json }};
    {% endif %}

    return snippet;
  })();
</script>
<script src="https://s3.amazonaws.com/shopify-extensions/loyaltypoints/common.js"></script>