<script>
    var UEVParams = {
        "id" : "4f78ba12d05080c950a0ae626303ad3a",
        'UEVDomain' : "//shopify-apps.spur-i-t.com/upsell-on-exit-visit/call/rpc",
        "apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
        "domain" : "{{ shop.permanent_domain }}"
    }
</script>
