<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.bingo_color_primary }}">
    {% include 'favicons' %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    {% capture seo_title %}
        {{ page_title }}
        {% if current_tags %}{%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{% endif %}
        {% if current_page != 1 %}&ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
        {% unless page_title contains shop.name %}&ndash; {{ shop.name }}{% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% include 'social-meta-tags' %}
    {% include 'fb-open-graph' %}
    {% include 'bingo-header-styles' %}
    {% include 'bingo-header-javascript' %}
    <meta name="google-site-verification" content="yQGE0IiDRKtv3ySKd8rMLFXpnA74rI7JwrP7Jn9aCns" />
    <meta name="msvalidate.01" content="BA1C8FE4CE0F97E15F8DCACAD11631F0" /> <!-- Bing merchant account -->
  	<meta name="p:domain_verify" content="52d6a793b6423eaa0ce96ce39921fc95"/>
  
  	{{ content_for_header }}

    {% include 'product-schema' %}

  {% comment %} {% include 'bold-common' %} {% endcomment %}
    <meta name="p:domain_verify" content="52d6a793b6423eaa0ce96ce39921fc95"/>

    {% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> {% endcomment %}


    {{ 'paymentfont.scss.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}

    <!-- START Recurring scripts -->
        {% include 'bold-common' %}
        {% include 'bold-ro-init' %}
    <!-- END Recurring scripts -->

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">

    <!-- Segment Pixel - ALLPAGES_REM - DO NOT MODIFY -->
        <script src="https://secure.adnxs.com/seg?add=12560607&t=1" type="text/javascript"></script>
    <!-- End of Segment Pixel -->
  
  <!-- Global site tag (gtag.js) - Google AdWords: 813579024 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-813579024"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-813579024');
</script>
  <!-- End google adwords scritp-->
  
  <script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/44946687e7d49be3aadb93d85101d8ce.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
</script>

</head>
<body id="{{ page_title | handle }}" class="template-{{ template | split: '.' | first }}{% if settings.header_float_enable %} bingoFloatHeader{% endif %}">

    {% capture the_snippet_content %}{% include 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %}
    {% include 'bingo-template' %}
    <div id="pageContainer" class="isMoved">
        {% include 'bingo-header-section' %}
        <main class="mainContent{% if settings.header_mobile_float %} mainMobileFixed{% endif %}">
            {% if template.name == 'index' %}
                {% include 'bingo-mobile-slider-categories' %}
            {% endif %}
            {{ content_for_layout }}
        </main>
        {% section 'bingo-footer' %}
    </div>
    {% include 'bingo-ajaxcart' %}
    {% include 'bingo-modal' %}
    {% include 'bingo-footer-javascript' %}
    {% include 'currencies' %}

    
 {% include 'sweettooth-initializer' %}

 {% include 'sweettooth-tab-widget' %}


<!-- spurit_uev-added -->
{% include 'spurit_uev-theme-snippet' %}
<!-- /spurit_uev-added -->

{% include 'spurit_loyaltypoints_theme-snippet' %}
{% include 'preorder-now' %}
  <!-- Delete the Beeketing script below after uninstalling Happy Messenger app to remove it from your theme. For more info, read here: https://bit.ly/hmesscode or contact us at hi@beeketing.com. --><!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>
