{% include 'bold-cart' %}
<div class="cartContainer">
    <h1 class="cartTitle">{{ 'cart.general.title' | t }}</h1>
    <div class="cartContent">
        {%- if cart.item_count > 0 -%}
            <form action="/cart" method="post" novalidate class="cartForm">
                <div class="cartTable">
                    <div class="row noGutter cartHeaderLabels">
                        <div class="col-xs-12 col-sm-2"><span class="hidden">{{ 'cart.label.image' | t }}</span></div>
                        <div class="col-xs-12 col-sm-3">{{ 'cart.label.product' | t }}</div>
                        <div class="col-xs-12 col-sm-2">{{ 'cart.label.price' | t }}</div>
                        <div class="col-xs-12 col-sm-2">{{ 'cart.label.quantity' | t }}</div>
                        <div class="col-xs-12 col-sm-2">{{ 'cart.label.total' | t }}</div>
                      	<div class="col-xs-12 col-sm-1">&nbsp;</div>
                    </div>
                    <div class="cartItemWrap">
                        {% for item in cart.items %}
                          {% include 'bold-cart-item' with item %}
                            <div class="flexRow noGutter">
                                <div class="productImage col-xs-12 col-sm-2" data-label="{{ 'customer.order.product' | t }}">
                                    <a href="{{ item.url | within: collections.all }}" class="cartImage">
                                      <img src="{{ item | img_url: '145x' }}" alt="{{ item.title | escape }}">
                                    </a>
                                </div>
                                <div class="productInfo col-xs-12 col-sm-3">
                                    <a href="{{ item.url }}" class="productName">
                                        {{ item.product.title }}
                                    </a>
                                    {% unless item.variant.title contains 'Default' %}
                                        <br>
                                        <small>{{ item.variant.title }}</small>
                                    {% endunless %}
                                    {% if section.settings.cart_vendor_enable %}
                                          <p>{{ item.vendor }}</p>
                                    {% endif %}
                                    
                                    {{ bold_item_properties }}
                                    {{ bold_recurring_desc }}
                                    
                                    {% assign property_size = item.properties | size %}
                                    {% if property_size > 0 %}
                                    <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>
                                        {% assign propertySize = item.properties | size %}
                                        {% if propertySize > 0 %}
                                            {% for p in item.properties %}
                                                {% assign first_character_in_key = p.first | truncate: 1, '' %}
                                                {% unless p.last == blank or first_character_in_key == '_' %}
                                                    {{ p.first }}:
                                                    {% if p.last contains '/uploads/' %}
                                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                    {% else %}
                                                        {{ p.last }}
                                                    {% endif %}
                                                {% endunless %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-xs-12 col-sm-2 hidden-xs">
                                    <span class="priceProduct price-item-old" style="text-decoration:line-through;color:#aaa;font-size:12px;font-weight:300;padding-right:5px;display:none">
                                        {{ item.price | money }}
                                    </span>
                                    <span data-label="{{ 'cart.label.price' | t }}">
                                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                                        <span class="priceProduct">
                                            {{ item.price | money }}
                                        </span>
                                    </span>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                           setTimeout(function() {
                                            let oldPrice = $('.price-item-old');
                                            let bundle_price = $('.bundle_visible_prop');
                                            if(bundle_price.length > 0) {
                                                bundle_price.parent().next().find('.price-item-old').show();
                                            }
                                           },500)
                                        })
                                    </script>
                                </div>
                                <div class="col-xs-12 col-sm-2" data-label="{{ 'cart.label.quantity' | t }}">
                                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                                </div>
                                <div class="col-xs-12 col-sm-2" data-label="{{ 'cart.label.total' | t }}">
                                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
                                    <span class="h3 cartSubtotal">
                                        {{ item.line_price | money }}
                                    </span>
                                </div>
                              	<div class="text-center col-xs-12 col-sm-1">
                              		<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cartRemove {{ bold_remove_class }}">
                                        <small>{{ 'cart.general.remove' | t }}</small>
                                    </a>
                              	</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% comment %} remove {% endcomment %}
                {% comment %} <div class="functionCart row noGutter">
                </div> {% endcomment %}

            
                <div class="cartBottom">
                    <div class="cartBottomWrap row">
                        {%- if section.settings.cart_notes_enable -%}
                            <div class="col-xs-12 col-sm-12 col-md-6 text-left">
                                <label class="cart-instructions-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                <textarea name="note" class="form-control" id="CartSpecialInstructions" rows="3">{{ cart.note }}</textarea>
                            </div>
                        {%- endif -%}
                        <div class="cartBottomSubtotal col-xs-12 col-sm-12 col-md-6">
                            <span class="cartSubtotalTitle"><span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span></span>
                            <div style="display:inline-block">
                                <span class="cartSubtotal">
                                    <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
                                    <div><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></div>
                                </span>
                            </div>
                        </div> 
                    </div> 
                    
     

                    <div class="row">
                        <div class="make-order-recurring-field col-sm-5">
                            {{ bold_ro_cart }}
                        </div>

                        <!-- CHECKOUT BUTTON /// MOBILE -->                    
                        <div class="col-sm-8 hidden-md hidden-lg visible-xs">
                            <input style="margin-top:0" type="submit" name="checkout" class="btn btnbingoOne btn-checkout" value="{{ 'cart.general.checkout' | t }}">
                            <div class="shippingCheckout text-center">{{ 'cart.general.shipping_at_checkout' | t }}</div>
                        </div>
                        <!-- END CHECKOUT BUTTON /// MOBILE -->                    

     
                    </div>    

                    <div class="row cartBottom-buttons">
                    {% comment %} PAYPAL {% endcomment %}
                        <div class="col-sm-12 text-center">
                            <script>
                                var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                                var head = document.getElementsByTagName('head').item(0);
                                if(width > 480){
                                    document.write(`<script type="text/javascript" data-pp-payerid="2LMQRYM94CEL4" data-pp-placementtype="1169x50" data-pp-style="BLUWHTYIFR">
                                        (function (d, t) {"use strict";var s = d.getElementsByTagName(t)[0], n = d.createElement(t);n.src = "//www.paypalobjects.com/upstream/bizcomponents/js/merchant.js";s.parentNode.insertBefore(n, s);}(document, "script"));
                                    <\/script>`)    
                                } else {
                                    document.write(`<script type="text/javascript" data-pp-payerid="2LMQRYM94CEL4" data-pp-placementtype="300x250" data-pp-style="BLUWHTYIFR">
                                        (function (d, t) {"use strict";var s = d.getElementsByTagName(t)[0], n = d.createElement(t);n.src = "//www.paypalobjects.com/upstream/bizcomponents/js/merchant.js";s.parentNode.insertBefore(n, s);}(document, "script"));
                                    <\/script>`)
                                }
                            </script>
                        </div>

                        <style>
                            @media (max-width: 480px) {
                                #pp-iframe-0 {
                                    margin-top: 20px;       
                                }
                            }
                        </style>
                                                        
                        {% comment %} END PAYPAL {% endcomment %}
                        <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <!-- CONTINUE SHOPPING BUTTON -->
                                            <a class="btn btnbingoOne btnbingoContinue" href="collections/all" >
                                            {{ 'cart.general.continue_shopping' | t }}
                                            </a>
                                        </div>
                                        <div class="col-sm-4 update-cart-col"  style="">
                                            <!-- UPDATE BUTTON -->                        
                                            <input type="submit" name="update" class="btn btnbingoOne btnUpdateCart" value="{{ 'cart.general.update' | t }}">
                                        </div>
                                    </div>
                        </div>

                        <div class="col-sm-8 hidden-xs">
                            <!-- CHECKOUT BUTTON -->                    
                            <input type="submit" name="checkout" class="btn btnbingoOne btn-checkout" value="{{ 'cart.general.checkout' | t }}">
                            <div class="shippingCheckout text-center">{{ 'cart.general.shipping_at_checkout' | t }}</div>
                        </div>
                        
                    </div>

                </div>
            </form>
        {%- else -%}
            <div class="cartEmptyContent">
                <div class="cartEmptyTop">
                    <div class="iconCartEmpty"></div>
                </div>
                <h5 class="cartEmptyTitle">{{ 'cart.general.empty' | t }}</h5>
                <div class="cartEmptyDesc">
                    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
                </div>
                <div class="cartEmptyButton">
                    <a class="btn btnbingoOne" href="/collections/all" title="{{ 'cart.general.empty_continue' | t }}">{{ 'cart.general.empty_continue' | t }}</a>
                </div>
            </div>
        {%- endif -%}
    </div>
</div>
{% schema %}
  	{
    	"name": "Bingo Cart Page",
    	"settings": [
			{
            	"type": "checkbox",
            	"id": "cart_notes_enable",
            	"label": "Enable cart notes"
          	},
          	{
            	"type": "checkbox",
            	"id": "cart_vendor_enable",
            	"label": "Show product vendor"
          	}
		]
  	}
{% endschema %}