{% comment %} ===> Set image for the left side {% endcomment %}
        {% if section.settings.bg_image_left != blank %}
            {% capture bannerImgLeft %}background-image: url({{ section.settings.bg_image_left | img_url: 'master' }});{% endcapture %}
        {% else %}
            {% capture bannerImgLeft %}background-color: #f5f5f5;background-size:cover;height:520px;{% endcapture %}
        {% endif %}

{% comment %} ===> Checks if the provided link is existing tag {% endcomment %}
        {% if section.settings.buttonlinkcollection != blank %}
            {% assign input1 = section.settings.buttonlinkcollection %}
            {% assign firstSymbolOfInput1 = input1 | slice:0, 1 %}                    
        {% endif %}
        {% if firstSymbolOfInput1 == '#' and input1 contains '#' %}
            {% assign cleanInput1 = input1 | remove: '#'  %}                  
            {% capture buttonURL1 %}/collections/all/{{ cleanInput1 }}{% endcapture %} 
        {% else %} 
            {% capture buttonURL1 %}/collections/all/{{ buttonURL1 }}{% endcapture %}       
        {% endif %}

{% comment %} ===> Heading {% endcomment %}
        {% if section.settings.banner_heading != blank %}
            {% assign headerTitle = section.settings.banner_heading %}
        {% endif %}

{% comment %} ===> Paragraph {% endcomment %}
        {% if section.settings.banner_paragraph != blank %}
            {% assign paragraphText = section.settings.banner_paragraph %}
        {% endif %}

{% comment %} ===> Button text {% endcomment %}
        {% if section.settings.banner_button_text != blank %}
            {% assign buttonText = section.settings.banner_button_text %}
        {% endif %}

<div class="section-default-banner container">
        <div class="row">
            <div class="custom-banner_02--right show-on-mobile col-sm-12">
                <h3 class="custom-banner_02__heading">{{ headerTitle }}</h3>                
            </div>

            <div class="custom-banner_02 custom-banner_02--left col-md-8 ">
                <div class="custom-banner_02__image" style="{{ bannerImgLeft }}"></div>
            </div>
            
            <div class="custom-banner_02 custom-banner_02--right col-md-4">
                <div class="custom-banner_02__content">
                    <h3 class="custom-banner_02__heading hide-on-mobile">{{ headerTitle }}</h3>
                    <p class="custom-banner_02__paragraph">{{ paragraphText }}</p>
                    
                    {% if section.settings.bg_image_right != blank %}
                        <img class="custom-banner_02__image img-responsive" src="{{ section.settings.bg_image_right |  img_url: 'master' }}">
                    {% endif %}

                    <a href="{{ buttonURL1 }}" class="custom-banner_02__button">{{ buttonText }}</a>
                </div>
            </div>
        </div>  
</div>

{% stylesheet %}
    .custom-banner_02--left .custom-banner_02__image {
        background-size:cover;
        height:520px;
        background-position: right center;
    }

    .custom-banner_02--right {
        position: relative;
    }

    .custom-banner_02--right .custom-banner_02__content {
        position:absolute;
        top:0px;
        text-align: center;
    }

    .custom-banner_02--right .custom-banner_02__image{
        margin:30px auto 0 auto;
        background-size: cover;
        max-width:280px;
        margin: 0 auto;
    }

    .custom-banner_02--right .custom-banner_02__button {
        background-color: #343434;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 6px 40px;
        color: #fff;
        border: none;
        display: inline-block;
        text-align: center;
    }

    .custom-banner_02--right .custom-banner_02__button:hover {
        text-decoration: none;
        opacity: .8;
    }

    .custom-banner_02--right .custom-banner_02__heading {
        text-transform:uppercase;
        font-weight:700;
        font-size:40px;
        color:#000;
    }

    .custom-banner_02--right .custom-banner_02__paragraph {
        font-size: 18px;
        margin: 15px 0;
    }

    .show-on-mobile {
        display: none;
    }
        
    .custom-banner-second__heading--desktop {
            display: none;
    }

    @media screen and (max-width: 479px) {
        .show-on-mobile{
            display: block;
        }

        .hide-on-mobile {
            display: none;
        }

        .custom-banner_02--right .custom-banner_02__image {
            height: 220px;
        }

        .custom-banner_02--right .custom-banner_02__content {
            position: static;
        }

        .custom-banner_02--right .custom-banner_02__heading {
            font-size:28px;
            text-align: center;
        }

        .custom-banner_02--left .custom-banner_02__image {
            height: 280px;
        }
        

        .custom-banner_02--right .custom-banner_02__paragraph {
            font-size: 14px;
            padding: 0 20px;
        }
        
        .custom-banner_02--right {
            padding: 0;
        }         
    }
{% endstylesheet %}

{% schema %}
   {
        "name": "Custom Banners One",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "sectionTitle",
                "label": "Heading",
                "default": "Banner section"
            },
            {
                "type": "header",
                "content": "1. LEFT SIDE PANEL"
            },
            {
                "type": "image_picker", 
                "id": "bg_image_left",
                "label": "Image"
            },
            
            {
                "type": "header",
                "content": "2. RIGHT SIDE PANEL"
            },
            {
                "type": "text",
                "id": "banner_heading",
                "label": "Banner heading text",
                "default": "#Perfectbody"
            },
            {
                "type": "text",
                "id": "banner_paragraph",
                "label": "Banner parapgraph text",
                "default": "Banner parapgraph text goes here"
            },
            {
                "type": "text",
                "id": "banner_button_text",
                "label": "Banner button text",
                "default": "Shop the collection"
            },
            {
                "type": "url",
                "id": "buttonlinkcollection",
                "label": "Button #1 URL"
            },
            {
                "type": "image_picker", 
                "id": "bg_image_right",
                "label": "Image"
            }
        ],
           "blocks": [
            {
                "type": "image",
                "name": "Image banner",
                "settings": []
            }
        ],
		"presets": [
            {
                "name": "Custom Banner One",
                "category": "7. Custom Banner"
            }
        ]
    }
{% endschema %}