<section class="bingoSlideshow--mobile{% if section.settings.type == 'boxed' %} slideshowBoxed{% endif %}">
    <div data-section-id="{{ section.id }}" data-section-type="bingoSlideshowSection">
        {% if section.settings.type == 'boxed' %}<div class="container">{% endif %}
        {% if section.blocks.size > 0 %}
            <div class="bingoSlideshowWrapper">
                <button type="button" class="hidden btnssPause" data-id="{{ section.id }}">
                    <span class="btnssPauseStop">
                        <i class="fa fa-play"></i>
                        <span class="iconText">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
                    </span>
                    <span class="btnssPausePlay">
                        <i class="fa fa-pause"></i>
                        <span class="iconText">{{ 'sections.slideshow.play_slideshow' | t }}</span>
                    </span>
                </button>
                <div id="bingoSlideshows{{ section.id }}" class="bingo--slideshow bingoSliderLoading" 
                    data-autoplay="{{ section.settings.autoplay }}" 
                    data-speed="{{ section.settings.autoplay_speed }}"
                    data-navigation="{{ section.settings.navigation }}"
                    data-pagination="{{ section.settings.pagination }}">
                    {%- assign imageSize = section.settings.image_size -%}
                    {% for block in section.blocks %}
                        <div class="bingossSlide bingossSlide{{ block.id }}" {{ block.shopify_attributes }}>
                            {% if block.settings.link != blank %}
                                <a href="{{ block.settings.link }}" class="bingossLink">
                            {% endif %}
                     
                                <div class="bingossImage" data-image="{{ block.settings.image | img_url:'master' }}">
                                    {% if block.settings.image != blank %}
                                        <img class="img-responsive" alt="{{ block.settings.image.alt | default: shop.name }}" src="{{ block.settings.image | img_url:imageSize }}" />
                                    {% else %}
                                        <div class="bingossNoImagePlaceholder">
                                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="bingossCaption caption-{{ block.settings.alignment }}">
                                    <div class="bingossCaptionContent">
                                        {% if section.settings.type == 'fullwidth' %}<div class="container">{% endif %}
                                            <div class="captionContainer">
                                                {%- unless block.settings.subheading == blank -%}
                                                    <p style="color:{{ block.settings.subheading_color }};">
                                                        {{ block.settings.subheading }}
                                                    </p>
                                                {%- endunless -%}
                                                {%- unless block.settings.title == blank -%}
                                                    <h2 style="color:{{ block.settings.title_color }};">
                                                        {{ block.settings.title }}
                                                    </h2>
                                                {%- endunless -%}
                                                {%- unless block.settings.btn_text == blank -%}
                                                    <a class="btn btnbingoSlider" href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}</a>
                                                {%- endunless -%}
                                         
                                            </div>
                                        {% if section.settings.type == 'fullwidth' %}</div>{% endif %}
                                    </div>
                                </div>
                            {% if block.settings.link != blank %}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if section.blocks.size == 0 %}
            <div class="placeholder-noblocks">
                {{ 'homepage.onboarding.no_content' | t }}
            </div>
        {% endif %}
        {% if section.settings.type == 'boxed' %}</div>{% endif %}
    </div>
</section>
{% schema %}
{
    "name": "Bingo Slideshow Mobile",
    "class": "bingoFramework",
    "max_blocks": 10,
    "settings": [
        {
            "type": "select",
            "id": "type",
            "label": "Layout",
            "default": "fullwidth",
            "options": [
                {
                    "value": "fullwidth",
                    "label": "Full width"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "navigation",
            "label": "Show Prev/Next arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "pagination",
            "label": "Show dot indicators",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto play slides",
            "default": true
        },
        {
            "type": "text",
            "id": "autoplay_speed",
            "label": "Change slides every",
            "info": "Required field number. Ex: 8000",
            "default": "8000"
        },
        {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "default": "480x250",
            "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image slide mobile",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Caption alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Mobile Slideshow"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Heading color",
                    "default": "#000"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading"
                },
                {
                    "type": "color",
                    "id": "subheading_color",
                    "label": "Subheading color",
                    "default": "#000"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text"
                },
                {
                    "type": "text",
                    "id": "btn_link",
                    "label": "Button link"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Slide link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Bingo Slideshow Mobile",
            "category": "8. Bingo Slideshow Mobile",
            "settings": {
                "autoplay": true
            },
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}