<div class="row {% if page.url == '/pages/about-sophea' %}row-about {% endif %}">

    {% comment %} Layout for about us page {% endcomment %}
        {% if page.url == '/pages/about-sophea' %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="pageContact" style="padding-top:0;margin-top:0">
                    {% comment %} <h1 class="bingoContactTitle">{{ page.title }}</h1> {% endcomment %}
                    <div class="pageContent" style="padding-top:0">
                        <div class="rte">
                            {{ page.content }}
                        </div>                
                    </div>
                </div>
            </div>
        {% endif %} 
    {% comment %} END Layout for about us page {% endcomment %}

    {% if section.settings.contact_details_enable %}
        <div class="col-xs-12">
            <div class="contactInformation">

                <div class="boxInformation one">
                    {% if section.settings.details_icon1 != blank %}
                        <div class="boxInformationImage">
                            <img class="img-responsive" alt="{{ section.settings.details_icon1.alt | default: shop.name }}" src="{{ section.settings.details_icon1 | img_url: 'master' }}" />
                        </div>
                    {% endif %}
                    <div class="boxInformationContent">
                        {% if section.settings.details_title1 != blank %}
                            <h3 class="infoTitle">{{ section.settings.details_title1 }}</h3>
                        {% endif %}
                        {% if section.settings.details_content1 != blank %}
                            <div class="infoDesc">{{ section.settings.details_content1 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="boxInformation two">
                    {% if section.settings.details_icon2 != blank %}
                        <div class="boxInformationImage">
                            <img class="img-responsive" alt="{{ section.settings.details_icon2.alt | default: shop.name }}" src="{{ section.settings.details_icon2 | img_url: 'master' }}" />
                        </div>
                    {% endif %}
                    <div class="boxInformationContent">
                        {% if section.settings.details_title2 != blank %}
                            <h3 class="infoTitle">{{ section.settings.details_title2 }}</h3>
                        {% endif %}
                        {% if section.settings.details_content2 != blank %}
                            <div class="infoDesc">{{ section.settings.details_content2 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="boxInformation three">
                    {% if section.settings.details_icon3 != blank %}
                        <div class="boxInformationImage">
                            <img class="img-responsive" alt="{{ section.settings.details_icon3.alt | default: shop.name }}" src="{{ section.settings.details_icon3 | img_url: 'master' }}" />
                        </div>
                    {% endif %}
                    <div class="boxInformationContent">
                        {% if section.settings.details_title3 != blank %}
                            <h3 class="infoTitle">{{ section.settings.details_title3 }}</h3>
                        {% endif %}
                        {% if section.settings.details_content3 != blank %}
                            <div class="infoDesc">{{ section.settings.details_content3 }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
  	{% if section.settings.googlemap_enable %}
        <div class="col-xs-12">
            <div class="bingoGoogleMap">
                {% if section.settings.googlemap_iframe != blank %}
                    {{ section.settings.googlemap_iframe }}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="pageContact">
            {% if page.url == '/pages/contact-us' %}
                 <h1 class="bingoContactTitle">{{ page.title }}</h1>
            {% endif %}  

    {% comment %} Layout for about us page {% endcomment %}
            {% if page.url == '/pages/about-sophea' %}
                 <h1 class="bingoContactTitle">Contact us</h1>                
            {% endif %}
    {% comment %} Layout for about us page {% endcomment %}        
            <div class="pageContent">
            {% if page.url == '/pages/contact-us' %}
                <div class="rte">
                    {{ page.content }}
                </div>
            {% endif %}    
                <div class="formContactUs">
                    {% form 'contact' %}
                        <div class="formContent">
                            {% if form.posted_successfully? %}
                                <div class="alert alert-success">
                                    {{ 'contact.form.post_success' | t }}
                                </div>
                            {% endif %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors | default_errors }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                {% assign name_attr = 'contact.form.name' | t | handle %}
                                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                                <input type="text" id="ContactFormName" class="form-control" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                                <input type="email" id="ContactFormEmail" class="form-control" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                            </div>
                            <div class="form-group">
                                {% assign name_attr = 'contact.form.phone' | t | handle %}
                                <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
                                <input type="tel" id="ContactFormPhone" class="form-control" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
                                <textarea rows="10" id="ContactFormMessage" class="form-control" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            </div>
                            <div class="form-button">
                                <input type="submit" class="btn btnbingoOne" value="{{ 'contact.form.send' | t }}">
                            </div>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  	{
        "name": "Bingo Contact Page",
        "settings": [
            {
                "type": "header",
                "content": "Google Map"
            },
            {
                "type": "checkbox",
                "id": "googlemap_enable",
                "label": "Enable google map"
            },
            {
                "type": "textarea",
                "id": "googlemap_iframe",
                "label": "Google map code",
                "placeholder": "Embed map"
            },
            {
                "type": "header",
                "content": "Contact Details"
            },
            {
                "type": "checkbox",
                "id": "contact_details_enable",
                "label": "Enable contact details",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "details_icon1",
                "label": "1st Icon"
            },
            {
                "type": "text",
                "id": "details_title1",
                "placeholder": "Title",
                "label": "1st Title"
            },
            {
                "type": "textarea",
                "id": "details_content1",
                "placeholder": "Content",
                "label": "1st content"
            },
            {
                "type": "image_picker",
                "id": "details_icon2",
                "label": "2nd Icon"
            },
            {
                "type": "text",
                "id": "details_title2",
                "placeholder": "Title",
                "label": "2nd Title"
            },
            {
                "type": "textarea",
                "id": "details_content2",
                "placeholder": "Content",
                "label": "2nd content"
            },
            {
                "type": "image_picker",
                "id": "details_icon3",
                "label": "3rd Icon"
            },
            {
                "type": "text",
                "id": "details_title3",
                "placeholder": "Title",
                "label": "3rd Title"
            },
            {
                "type": "textarea",
                "id": "details_content3",
                "placeholder": "Content",
                "label": "3rd content"
            }
		]
  	}
{% endschema %}