{% if section.settings.listcoll_type == 'typeone' %}
    {%- assign pageItems = section.settings.items_page | plus: 0 -%}
    {% if section.settings.image_size != blank %}
        {%- assign imageSize = section.settings.image_size -%}
    {% else %}
        {%- assign imageSize = 'master' -%}
    {%endif %}
        <div class="bingoFlexRow flexRow">
            {% for collection in collections %}
                {% if collection.template_suffix == 'brands' and collection.title != 'Halloween 2018' and collection.title != 'Black Friday' %}
                    <div class="col-xs-6 col-sm-4">
                        <div class="bbox-collection">
                            <div class="bbox-collection--image" style="height: 250px;display:flex;align-items: center;background-color:#f5f5f5;">
                                <a href="{{ collection.url }}" style="width:100%;">
                                    {% if collection.image %}
                                        <img style="margin:0 auto;" class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | collection_img_url: imageSize }}" />
                                    {% else %}
                                        {% if section.settings.image_default != blank %}
                                            <img class="img-responsive" alt="{{ section.settings.image_default.alt | default: shop.name }}" src="{{ section.settings.image_default | img_url: imageSize }}" />
                                        {% else %}
                                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </div>
                            <h3 class="bbox-collection--title"><a href="{{ collection.url }}">{{ collection.title }}</a></h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% else %}
    {%- assign pageItems = section.settings.items_propage | plus: 0 -%}
    {% paginate collections by pageItems %}
        {% for collection in collections %}
            <div class="listCollection">
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                <div class="collBoxTop">
                    <h3 class="headerCollection">{{ collection_title }}</h3>
                    <div class="moreProducts">
                        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ 'collections.general.link_title' | t: title: collection_title }}</a>
                      </div>
                </div>
                <div class="proList grid">
                    <div class="bingoFlexRow flexRow">
                        {% for product in collection.products limit:4 %}
                            {% include 'bold-product' with product, hide_action: 'skip' %}

                            {% include 'product-grid-item' with 'col-sp-12 col-xs-6 col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if paginate.pages > 1 %}
            {% include 'bingo-pagination' %}
        {% endif %}
    {% endpaginate %}
{% endif %}
{% schema %}
    {
        "name": "Bingo List Collections",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "select",
                "id": "listcoll_type",
                "label": "Page template",
                "default": "typeone",
                "options": [
                    {
                        "label": "List Collections",
                        "value": "typeone"
                    },
                    {
                        "label": "List Products with Collection",
                        "value": "typetwo"
                    }
                ]
            },
            {
                "type": "header",
                "content": "List Collections"
            },
            {
                "type": "image_picker",
                "id": "image_default",
                "label": "Collection image default"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "select",
                "id": "items_page",
                "label": "Number items on a page",
                "default": "12",
                "options": [
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "9",
                        "value": "9"
                    },
                    {
                        "label": "12",
                        "value": "12"
                    },
                    {
                        "label": "15",
                        "value": "15"
                    },
                    {
                        "label": "18",
                        "value": "18"
                    }
                ]
            },
            {
                "type": "header",
                "content": "List Products with Collection"
            },
            {
                "type": "select",
                "id": "items_propage",
                "label": "Number items on a page",
                "default": "3",
                "options": [
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    }
                ]
            }
        ]
    }
{% endschema %}