{%- assign owlColumn1 = 1 -%}
{%- assign owlColumn2 = 1 -%}
{%- assign owlColumn3 = 1 -%}
{%- assign owlColumn4 = 1 -%}
{%- assign owlColumn5 = 1 -%}
<div class="homeTestimonials">
    <div class="container">
        <div class="bingoTestimonials">
            {%- if section.settings.title != blank -%}
                <h3 class="bingoHomeTitle">{{ section.settings.title }}</h3>
            {%- endif -%}
            <div class="bingoContent">
                <div class="bingoOwlRow owlCarouselPlay">
                    <div class="owl-carousel"   data-nav="true" 
                                                data-autoplay="false" 
                                                data-autospeed="10000" 
                                                data-speed="300" 
                                                data-columnone="{{ owlColumn1 }}" 
                                                data-columntwo="{{ owlColumn2 }}" 
                                                data-columnthree="{{ owlColumn3 }}" 
                                                data-columnfour="{{ owlColumn4 }}" 
                                                data-columnfive="{{ owlColumn5 }}">
                        {% for block in section.blocks %}
                            <div class="item">
                                <div class="testimonialItem clearfix">
                                    {%- if block.settings.image != blank -%}
                                        <div class="testimonialAvatar">
                                            <img class="img-responsive img-circle" 
                                                 src="{{ block.settings.image | img_url:'500x500' }}" 
                                                 alt="{{ block.settings.image.alt | default: block.settings.title }}">
                                        </div>
                                    {%- endif -%}
                                    <div class="testimonialReview">
                                        <span class="icon_quotes">“</span>
                                        {{ block.settings.review }}
                                    </div>
                                    <div class="testimonialPerson">
                                        <h4 class="testimonialName">{{ block.settings.title }}</h4>
                                        <span>{{ block.settings.position }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Testimonial",
        "class": "bingoFramework",
        "max_blocks": 10,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "placeholder": "Title of section"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Testimonial Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Avatar"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Customer name"
                    },
                    {
                        "type": "text",
                        "id": "position",
                        "label": "Customer position"
                    },
                    {
                        "type": "textarea",
                        "id": "review",
                        "label": "Customer review"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Bingo Testimonials",
                "category": "6. Bingo Text",
                "blocks": [
                    {
                        "type":"item"
                    },
                    {
                        "type":"item"
                    }
                ]
            }
        ]
    }
{% endschema %}