{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

{%- assign proImageSize = section.settings.image_size -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- if section.settings.productthumb_type == 'horizontal' -%}
    {%- assign columnLeft = 'col-xs-12 col-sm-12 col-md-5' -%}
    {%- assign columnRight = 'col-xs-12 col-sm-12 col-md-7' -%}
{%- else -%}
    {%- assign columnLeft = 'col-xs-12 col-sm-12 col-md-6' -%}
    {%- assign columnRight = 'col-xs-12 col-sm-12 col-md-6' -%}
{%- endif -%}

<div class="productBox" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <div class="proBoxPrimary">
        <div class="row">
            <div class="proBoxImage {{ columnLeft }}">
                {%- if section.settings.productthumb_type == 'vertical' -%}

                    {% for collection in product.collections %}
                        {% assign current_collection_single_prod = collection.title %}
                        {% if current_collection_single_prod contains 'Gift vouchers' %}
                            {% assign  showStyle = 'display:none;' %}
                        {% endif %}
                    {% endfor %} 

                    <div  class="proThumbnailVertical">
                        <div style="{{ showStyle }}" id="productThumbs" class="proThumbnails">
                            <div class="slick-thumblist">
                                <div class="slick-carousel">
                                    {% for image in product.images %}
                                        <div class="item">
                                            <div class="thumbItem">
                                                <a href="javascript:void(0)" data-imageid="{{ image.id }}" data-image="{{ image.src | img_url: proImageSize }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}">
                                                    <img class="img-responsive" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {%- endif -%}
                <div class="proFeaturedImage">
                    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                    <img style="height: auto !important;" id="ProductPhotoImg" data-zoom-enable="{{ section.settings.product_zoom_enable }}" class="img-responsive" src="{{ featured_image | img_url: proImageSize }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" />
                </div>
                {%- if section.settings.productthumb_type == 'vertical' -%}
                    </div>
                {%- endif -%}
                {%- if product.images.size > 1 -%}
                    {%- if section.settings.productthumb_type == 'horizontal' -%}
                        <div id="productThumbs" class="proThumbnails">
                            <div class="owl-thumblist">
                                <div class="owl-carousel">
                                    {% for image in product.images %}
                                        <div class="thumbItem">
                                            <a href="javascript:void(0)" data-imageid="{{ image.id }}" data-image="{{ image.src | img_url: proImageSize }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}">
                                                <img class="img-responsive" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            </div>
            <div class="proBoxInfo {{ columnRight }}">
                <h1 itemprop="name">{{ product.title }}</h1>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                    <div class="proPageMetaPrice">
                        <div class="proPrice">
                            <span id="ProductPrice" class="priceProduct" itemprop="price">
                                {{ current_variant.price | money }}
                            </span>
                            {% if product.compare_at_price > product.price %}
                                <span id="ComparePrice" class="priceProduct priceCompare">
                                    {{ current_variant.compare_at_price | money }}
                                </span>
                            {% endif %}
                        </div>
                        {% if settings.product_reviews_enable %}
                            <div class="proReviews">
                                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                            
                                {% comment %} <span class="spr-badge" id="spr_badge_529391714336" data-rating="4.894736842105263">
                                    <span class="spr-starrating spr-badge-starrating">
                                        <i class="spr-icon spr-icon-star"></i>
                                        <i class="spr-icon spr-icon-star"></i>
                                        <i class="spr-icon spr-icon-star"></i>
                                        <i class="spr-icon spr-icon-star"></i>
                                        <i class="spr-icon spr-icon-star"></i>
                                    </span>
                                    <span class="spr-badge-caption">
                                    <a class="review_count" href="#shopify-product-reviews"> reviews</a></span>

                                    <script>
                                    $(document).ready(function() {
                                        function getRandomInt(min, max) {
                                            return Math.floor(Math.random() * (max - min + 1) + min);
                                        }

                                        $('.review_count').html(getRandomInt(500,1000) + ' reviews');                                        
                                    })
                                    </script>
                                </span> {% endcomment %}
                            </div>
                        {% endif %}
                    </div>
                    {% if section.settings.product_available_enable %}
                        {% if product.available %}
                            <p class="proAttr productAvailability instock"><label>{{ 'products.product.availability' | t }}</label>: {{'products.product.available' | t }}</p>
                        {% else %}
                            <p class="proAttr productAvailability outstock"><label>{{ 'products.product.availability' | t }}</label>: {{'products.product.unavailable' | t }}</p>
                        {% endif %}
                    {% endif %}
                    {% if section.settings.product_vendor_enable %}
                        <p class="proAttr productVendor"><label>{{ 'products.product.vendor' | t }}</label>: {{ product.vendor }}</p>
                    {% endif %}
                    {% if section.settings.product_type_enable %}
                        <p class="proAttr productType"><label>{{ 'products.product.type' | t }}</label>: {{ product.type }}</p>
                    {% endif %}
                    {% if section.settings.product_short_description == 'yes' %}
                        {% if product.description != blank %}
                            <div class="proShortDescription rte" itemprop="description">
                                {{ product.description | strip_html | truncatewords: 50}}
                            </div>
                        {% endif %}
                    {% elsif section.settings.product_short_description == 'full' %}
                        {% if product.description != blank %}
                            <div class="proShortDescription rte" itemprop="description">
                                {{ product.description }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% comment %} -- REMOVE | shows links to variants {% endcomment %}
                   
                    <div style="margin: 1em 0;" class="single-product-variants-wrapper">   
                        {% for tag in product.tags %}
                            {% if tag contains 'variant_' %}
                                {% assign current_tag_prod = tag %}
                            {% endif %}
                        {% endfor %}                  

                        {% for prod_of_all in collections.all.products %}
                           {% if prod_of_all.tags contains current_tag_prod %}
                                {% if prod_of_all.id != product.id %}
                                    <a href="{{ prod_of_all.url }}" style='display:inline-block;margin-bottom:2px;padding:.5em;'>
                                        {{ prod_of_all | img_url: 'tiny' | img_tag }}
                                        <small class="single-product-variant-text" style="display:block;max-width:100px;color:#000;padding-top:.5em;">
                                            {{ prod_of_all.title }} 
                                        </small>
                                    </a>
                                {% endif %}
                           {% endif %} 
                        {% endfor %}
                    </div>
                    {% comment %} end shows links to variants {% endcomment %}
                    <div class="fb-messenger-checkbox" id="fbmessenger-checkbox"  prechecked="true"></div>                    
                    
                    {% include 'bingo-product-wishlist' %}
                    
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
                        {% assign variantCount = product.variants | size %}
                        <div class="proVariants clearfix">
                            <select name="id" id="productSelect">
                                {% for variant in product.variants %}
                                {% include 'bold-variant' with variant, hide_action: 'skip' %}

                                    {% if variant.available %}
                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                                    {% else %}
                                        <option disabled="disabled">
                                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                        </option>
                                  {% endif %}
                                {% endfor %}
                            </select>
                            {% if variantCount > 1 %}
                                {% if section.settings.product_swatch_enable %}
                                    {% for option in product.options %}
                                        {% include 'bingo-swatch' with option %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="proQuantity">
                            <label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                        </div>

                          {% assign qtyMessageTrigger = section.settings.quantity_left_message_trigger | plus: 0 %}
                          {% assign qtyMessageTriggerText = section.settings.quantity_left_message_trigger_text | replace: "qtyLeft", product.variants.first.inventory_quantity %}
                          {% assign qtyMessageTriggerTextMobi = section.settings.quantity_left_message_trigger_text_mobi | replace: "qtyLeft", product.variants.first.inventory_quantity %}
                          {% if product.variants.first.inventory_management == "shopify" and 
                             product.variants.first.inventory_quantity > 0 and 
                             product.variants.first.inventory_quantity <= qtyMessageTrigger %}
                           
                                    <div class="quantity-left quantity-left__desktop">
                                            <span class="quantity-left__icon">!</span>
                                            {% if section.settings.quantity_left_message_trigger_text != blank %}
                                                {{ qtyMessageTriggerText }}
                                            {% else %}    
                                                Hurry up! Only {{ product.variants.first.inventory_quantity }} left! Add to Cart Now! 
                                            {% endif %}
                                    </div>

                                    <div class="quantity-left quantity-left__mobile">
                                            <span class="quantity-left__icon">!</span>
                                            {% if section.settings.quantity_left_message_trigger_text_mobi != blank %}
                                                {{ qtyMessageTriggerTextMobi }}
                                            {% else %}    
                                                Hurry up! Only {{ product.variants.first.inventory_quantity }} left! Add to Cart Now! 
                                            {% endif %}
                                    </div>
                            {% endif %}

                        
                        
                        <div class="proButton">
                            <button type="submit" name="add" id="AddToCart" class="btn btnAddToCart  addtocart" style="width:100%;font-size:16px;letter-spacing:.05em">
                                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                            {% include 'bingo-trustseals' %}
                        </div>
                    </form>
                    
                    {% comment %} {%- if section.settings.product_tags_enable -%}
                        <div class="proTags">
                            <div class="tagTitle">{{ 'products.product.tags' | t }} </div>
                            {% for tag in product.tags limit:8 %}
                                {%- if forloop.last -%}
                                    <span>{{ tag }}</span>
                                {%- else -%}
                                    <span>{{ tag }}, </span>
                                {%- endif -%}
                            {% endfor %}
                        </div>
                    {%- endif -%}  {% endcomment %}
                    {% include 'bingo-product-sharing' %}
                </div>
            </div>
        </div>
        
        <section class="bundle-section-wrapper">
            {% unless bundle_loaded == 'true' %}
                {% include 'shappify-bdl-load-bundle' %}
                {% assign bundle_loaded = 'true' %}
            {% endunless %}
        </section>
        
        <section class="proDetailInfo">
            {% if section.settings.product_tab_type == 'protab' %}
                <ul class="nav nav-tabs">
                    {% if section.settings.product_tab1_enable %}
                        <li><a href="#proTabs1" data-toggle="tab">{{ section.settings.product_tab1_title }}</a></li>
                    {% endif %}
                    {% if section.settings.product_tab2_enable %}
                        <li><a href="#proTabs2" data-toggle="tab">{{ section.settings.product_tab2_title }}</a></li>
                    {% endif %}
                    {% if section.settings.product_tab3_enable %}
                        <li><a href="#proTabs3" data-toggle="tab">{{ section.settings.product_tab3_title }}</a></li>
                    {% endif %}
                    {% if section.settings.product_tab4_enable %}
                        <li><a href="#proTabs4" data-toggle="tab">{{ section.settings.product_tab4_title }}</a></li>                    
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if section.settings.product_tab1_enable %}
                        <div class="tab-pane" id="proTabs1">
                            {% if settings.product_reviews_enable %}
                                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                            {% endif %}
                        </div>

                    {% endif %}
                    {% if section.settings.product_tab2_enable %}
                        <div class="tab-pane" id="proTabs2">{{ section.settings.product_tab2_content }}</div>
                    {% endif %}
                    {% if section.settings.product_tab3_enable %}
                        <div class="tab-pane" id="proTabs3">{{ section.settings.product_tab3_content }}</div>
                    {% endif %}
                    {% if section.settings.product_tab4_enable %}
                        <div class="tab-pane" id="proTabs4">{{ product.description }}</div>                        
                    {% endif %}
                </div>
            {% elsif section.settings.product_tab_type == 'propanel' %}
                <div class="panel-group" id="vealAccordion">
                    {% if section.settings.product_tab1_enable %}

                           <div class="panel bingoPanel">
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseOne">{{ section.settings.product_tab1_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if settings.product_reviews_enable %}
                                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab2_enable %}
                        <div class="panel bingoPanel">
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseTwo">{{ section.settings.product_tab2_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">{{ section.settings.product_tab2_content }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab3_enable %}
                        <div class="panel bingoPanel">
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseThree">{{ section.settings.product_tab3_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseThree" class="panel-collapse collapse">
                                <div class="panel-body">{{ section.settings.product_tab3_content }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab4_enable %}
                        <div class="panel bingoPanel">
                            <div class="panel-heading" id="headingFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseFour">{{ section.settings.product_tab4_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseFour" class="panel-collapse collapse">
                                <div class="panel-body">{{ product.description }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="reviewOnly">
                    {% if settings.product_reviews_enable %}
                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        
        {% include 'bingo-product-related' %}

    </div>
</div>

{%stylesheet%}
    .quantity-left {
        opacity: 0;
        font-size:12px;
        line-height:22px;
        color: #f12367;
        font-weight:bold;
        padding-left:5px;
        pading-bottom: 10px;
        float:left;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
    }

    .quantity-left__icon {
        margin-right:5px;
        text-align:center;
        font-size:18px;
        color:#fff;
        background-color:#f12367;
        font-weight:bold;
        height: 25px;
        width:25px;
        line-height:25px;
        display:inline-block;
        position: relative;
        top: 2px;
    }
    .quantity-left__mobile {
        display: none;
    }
    @media (max-width: 768px) {
        .quantity-left { 
            line-height: 29px;
            margin-bottom: 20px;
            max-width: 50%;
            font-size:11px;
        }
        .quantity-left__icon { 
            height: 26px;
            width: 24px;
            line-height: 26px;
            float: left;
            font-size: 14px;
            margin-right: 5px;
        }
        .quantity-left__mobile {
            display: block;
        }
        .quantity-left__desktop {
            display: none;
        }
        
    }
{%endstylesheet%}

<script  type="application/javascript">

    $(document).ready(function() {
            var qtyAnimation = (function() {
                const anime = 'animated bounceIn'
                const box = $(".quantity-left");
                box.css({ opacity: "0" })    
            
                function flashQty() {
                    box.css({ opacity: "1" });                
                    box.toggleClass(anime);
                } 

                var count = 0;
                setInterval(() => {
                    if(count > 8) {
                        return false;   
                    }
                    flashQty();
                    count++;
                },1800)
            })()
            
            let tabs = $('.proDetailInfo');
            let descriptionTab = tabs.find('#proTabs4');
            if (descriptionTab.find('iframe').length > 0) {
                {% comment %} setTimeout(function() { {% endcomment %}
                    $('.nav-tabs li').removeClass('active');
                    $('.tab-pane').removeClass('active');
                    $('[data-toggle="tab"][href="#proTabs4"]').trigger('click');
                {% comment %} }, 300) {% endcomment %}
            } else {
                $('.proDetailInfo .nav-tabs li:first, .proDetailInfo .tab-content .tab-pane:first').addClass('active');
            }
    })

</script>
{% schema %}
    {
        "name": "Bingo Product Page",
        "settings": [
			{
            	"type": "header",
            	"content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "product_swatch_enable",
                "label": "Use variants swatch"
            },
            {
                "type": "checkbox",
                "id": "product_available_enable",
                "label": "Show product available",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_type_enable",
                "label": "Show product type",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_vendor_enable",
                "label": "Show product vendor",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_tags_enable",
                "label": "Show product tags",
                "default": true
            },
			{
                "type": "checkbox",
                "id": "product_zoom_enable",
                "label": "Enable product zoom",
				"default": true
            },
			{
                "type": "text",
                "id": "image_size",
                "label": "Image size",
				"default": "480x480",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Product Thumbnail"
            },
            {
                "type": "radio",
                "id": "productthumb_type",
                "label": "Product thumbnail type",
                "options": [
                    {
                        "value": "horizontal",
                        "label": "Horizontal"
                    },
                    {
                        "value": "vertical",
                        "label": "Vertical"
                    }
                ],
                "default": "horizontal"
            },
            {
                "type": "header",
                "content": "Product Short Description"
            },
            {
                "type": "radio",
                "id": "product_short_description",
                "label": "Product short description",
                "options": [
                    {
                        "value": "no",
                        "label": "Don't show"
                    },
                    {
                        "value": "yes",
                        "label": "Show short description"
                    },
                    {
                        "value": "full",
                        "label": "Show full description"
                    }
                ],
                "default": "yes"
            },
            {
                "type": "header",
                "content": "Product More Info"
            },
            {
                "type": "radio",
                "id": "product_tab_type",
                "label": "Product more info type",
                "options": [
                    {
                        "value": "disable",
                        "label": "Don't show"
                    },
                    {
                        "value": "protab",
                        "label": "Tab more info"
                    },
                    {
                        "value": "propanel",
                        "label": "Panel more info"
                    }
                ],
                "default": "protab"
            },
            {
                "type": "checkbox",
                "id": "product_tab1_enable",
                "label": "1st Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab1_title",
                "label": "1st Title tab",
                "default": "Details"
            },
            {
                "type": "checkbox",
                "id": "product_tab2_enable",
                "label": "2nd Enable tab"
            },
            {
                "type": "text",
                "id": "product_tab2_title",
                "label": "2nd Title tab"
            },
            {
                "type": "textarea",
                "id": "product_tab2_content",
                "label": "2nd Tab content"
            },
            {
                "type": "checkbox",
                "id": "product_tab3_enable",
                "label": "3rd Enable tab"
            },
            {
                "type": "text",
                "id": "product_tab3_title",
                "label": "3rd Title tab"
            },
            {
                "type": "textarea",
                "id": "product_tab3_content",
                "label": "3rd Tab content"
            },
            {
                "type": "checkbox",
                "id": "product_tab4_enable",
                "label": "4th Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab4_title",
                "label": "4th Title tab",
                "default": "Reviews"
            },
            {
                "type": "header",
                "content": "Product Social Sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_enable",
                "label": "Enable social sharing",
				"default": true
            },
            {
                "type": "text",
                "id": "product_social_title",
                "label": "Social title"
            },
            {
                "type": "checkbox",
                "id": "product_social_facebook_enable",
                "label": "Facebook sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_twitter_enable",
                "label": "Twitter sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_google_enable",
                "label": "Google Plus sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_linkedin_enable",
                "label": "Linkedin sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_pinterest_enable",
                "label": "Pinterest sharing"
            },
            {
                "type": "header",
                "content": "Product Related"
            },
            {
                "type": "checkbox",
                "id": "product_related_enable",
                "label": "Enable product related"
            },
            {
                "type": "text",
                "id": "product_related_title",
                "placeholder": "Title for nlock",
                "label": "Block title"
            },
            {
                "type": "text",
                "id": "product_related_limit",
                "placeholder": "Number. Ex: 8",
                "label": "Number of related product"
            },
            {
                "type": "header",
                "content": "Quantity Left Message Trigger"
            },
            {
                "type": "text",
                "id": "quantity_left_message_trigger",
                "label": "Set when to trigger the message",
                "info": "Set value for trigger : i.e. 4 will output messeage when product's quantity i less than or eaqual to 4"
            },
            {
                "type": "text",
                "id": "quantity_left_message_trigger_text",
                "label": "Quantity left trigger text",
                "info": "Set random text replace hardcoded values for quantity with `qtyLeft` word"
            },
            {
                "type": "text",
                "id": "quantity_left_message_trigger_text_mobi",
                "label": "Mobile :: Quantity left trigger text",
                "info": "Mobile :: Set random text replace hardcoded values for quantity with `qtyLeft` word"
            }
		]
    }
{% endschema %}
