{%- assign proCollection = section.settings.collection_handle -%}
{%- assign proColumn1 = section.settings.column1 | plus:0 -%}
{%- assign proColumn2 = section.settings.column2 | plus:0 -%}
{%- assign proColumn3 = section.settings.column3 | plus:0 -%}
{%- assign proColumn4 = section.settings.column4 | plus:0 -%}
{%- assign proColumn5 = section.settings.column5 | plus:0 -%}
{%- assign proRow = section.settings.row | plus:0 -%}
{%- assign proLimit = section.settings.limit | plus:0 -%}
{%- assign showReview = section.settings.display_reviews -%}
{% if section.settings.image_size != blank %}
    {% assign proImageSize = section.settings.image_size %}
{% else %}
    {% assign proImageSize = 'master' %}
{% endif %}


{% comment %} {{ section.settings.collection_handle }} {% endcomment %}
<div class="productListHome">
    <div class="container">
        <div id="proList{{ section.id }}" class="bingoProducts {{ section.settings.layout }}">
            <h3 class="bingoHomeTitle">{{ section.settings.title }}</h3>
            <div class="bingoContent{% if proRow == 2 %} productTwoRow{% endif %}">
                <div class="proOwlCarousel owlCarouselPlay {% if forloop.first %} proLoading{% endif %}">
                    <div class="owl-carousel"   data-nav="{{ section.settings.navigation }}" 
                                                data-autoplay="{{ section.settings.autoplay }}" 
                                                data-autospeed="{{ section.settings.autoplay_speed }}" 
                                                data-speed="{{ section.settings.speed }}" 
                                                data-columnone="{{ proColumn1 }}" 
                                                data-columntwo="{{ proColumn2 }}" 
                                                data-columnthree="{{ proColumn3 }}" 
                                                data-columnfour="{{ proColumn4 }}" 
                                                data-columnfive="{{ proColumn5 }}">
                        
            

                    {% comment %} checks if the template is index and loads BEST COLLECTION {% endcomment %}
                        
                        {% for product in collections[proCollection].products limit:8 %}
                            {% if proRow == 2 %}
                                {% assign checkRow  = forloop.index | modulo:proRow %}
                                {% if checkRow == 1 %}
                                    {% if product.available == true %}
                                        <div class="item">
                                    {% endif %}
                                {% endif %}
                                    {% include 'product-grid-item' %}
                                {% if checkRow == 0 or forloop.last %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if product.available == true %}
                                    <div class="item">
                                        {% include 'product-grid-item' %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %} 
                 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- assign showReview = true -%}
{% schema %}
{
    "name": "Bingo Products List",
    "class": "bingoFramework",
    "settings":[
        {
            "type": "header",
            "content": "General Settings"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "placeholder": "Title of section"
        },
        {
            "type": "collection",
            "id": "collection_handle",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Select layout",
            "default": "layout-default",
            "options":[
                {
                    "value": "layout-default",
                    "label": "Layout Default"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "display_reviews",
            "label": "Show stars review"
        },
        {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "default": "270x320",
            "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
            "type": "header",
            "content": "Carousel Settings"
        },
        {
            "type": "select",
            "id": "column1",
            "label": "#Column 1",
            "default": "4",
            "info": "Large desktops",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column2",
            "label": "#Column 2",
            "default": "3",
            "info": "Desktops & Tablets landscape",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column3",
            "label": "#Column 3",
            "info": "Tablets",
            "default": "2",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column4",
            "label": "#Column 4",
            "default": "2",
            "info": "Phones landscape",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column5",
            "label": "#Column 5",
            "default": "2",
            "info": "Smartphones",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "select",
            "id": "row",
            "label": "Row",
            "default": "1",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit",
            "default": "8"
        },
        {
            "type": "checkbox",
            "id": "navigation",
            "label": "Show navigation",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto play",
            "default": false
        },
        {
            "type": "text",
            "id": "autoplay_speed",
            "label": "Auto Play speed",
            "info": "Default: 10000(ms)",
            "default": "10000"
        },
        {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "info": "Slide/Fade animation speed",
            "default": "300"
        }
    ],
    "presets": [
        {
            "name": "Bingo Products List",
            "category": "2. Bingo Product",
            "settings": {
                "title": "Product List",
                "collection_handle": "frontpage"
            }
        }
    ]
}
{% endschema %}
