<div class="homeTwoBox">
    <div class="container">
        <div class="twoBoxHtml">
            <div class="boxRow">
                <div class="boxLeft">
                    <div class="homeBoxCategory twoOne">
                        <div class="boxImage">
                            <a href="{{ section.settings.link1 }}" title="{{ section.settings.image1.alt | default: shop.name }}">
                                {%- if section.settings.image1 != blank -%}
                                    <img class="img-responsive" alt="{{ section.settings.image1.alt | default: shop.name }}" src="{{ section.settings.image1 | img_url:'master' }}" />
                                {%- else -%}
                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/505x300" />
                                {%- endif -%}
                            </a>
                        </div>
                        <div class="boxContent">
                            {%- if section.settings.subtitle1 != blank -%}
                                <div class="desc">{{ section.settings.subtitle1 }}</div>
                            {%- endif -%}
                            {%- if section.settings.title1 != blank -%}
                                <h4 class="title">
                                    <a href="{{ section.settings.link1 }}" title="{{ section.settings.title1 }}">
                                        {{ section.settings.title1 }}
                                    </a>
                                </h4>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                <div class="boxRight">
                    <div class="homeBoxCategory twoTwo">
                        <div class="boxImage">
                            <a href="{{ section.settings.link2 }}" title="{{ section.settings.image2.alt | default: shop.name }}">
                                {%- if section.settings.image2 != blank -%}
                                    <img class="img-responsive" alt="{{ section.settings.image2.alt | default: shop.name }}" src="{{ section.settings.image2 | img_url:'master' }}" />
                                {%- else -%}
                                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/905x300" />
                                {%- endif -%}
                            </a>
                        </div>
                        <div class="boxContent">
                            {%- if section.settings.subtitle1 != blank -%}
                                <div class="desc">{{ section.settings.subtitle2 }}</div>
                            {%- endif -%}
                            {%- if section.settings.title1 != blank -%}
                                <h4 class="title">
                                    <a href="{{ section.settings.link2 }}" title="{{ section.settings.title2 }}">
                                        {{ section.settings.title2 }}
                                    </a>
                                </h4>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Bingo Two Box",
        "class": "bingoFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "placeholder": "Title for Block",
                "label": "Title"
            },
            {
                "type": "header",
                "content": "1st Box"
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "Box image"
            },
            {
                "type": "url",
                "id": "link1",
                "label": "Box URL"
            },
            {
                "type": "text",
                "id": "title1",
                "label": "Box title",
                "placeholder": "Box title"
            },
            {
                "type": "text",
                "id": "subtitle1",
                "label": "Box subtitle",
                "placeholder": "Box subtitle"
            },
            {
                "type": "header",
                "content": "2nd Box"
            },
            {
                "type": "image_picker",
                "id": "image2",
                "label": "Box image"
            },
            {
                "type": "url",
                "id": "link2",
                "label": "Box URL"
            },
            {
                "type": "text",
                "id": "title2",
                "label": "Box title",
                "placeholder": "Box title"
            },
            {
                "type": "text",
                "id": "subtitle2",
                "label": "Box subtitle",
                "placeholder": "Box subtitle"
            }
        ],
		"presets": [
            {
                "name": "Bingo Two Box",
                "category": "4. Bingo Image"
            }
        ]
    }
{% endschema %}