<div class="sectionAboutUs">
	{%- if section.settings.ourteams -%}
		<div class="aboutOurTeams">
			{%- if section.settings.ourteams_title != blank -%}
				<h3 class="ourTeamsTitle">{{ section.settings.ourteams_title }}</h3>
			{%- endif -%}
			<div class="ourTeamsList">
				{%- if section.blocks.size > 0 -%}
					<div class="row">
                    	{% for block in section.blocks %}
                    		<div class="col-sp-12 col-xs-6 col-sm-4 col-custom-20">
                    			<div class="memberBox">
                    				{%- if block.settings.avatar != blank -%}
	                    				<div class="memberImage">
	                    					<img class="img-responsive" alt="{{ block.settings.avatar.alt | default: shop.name }}" src="{{ block.settings.avatar | img_url: 'master' }}" />
                    						{%- assign socialEnable = true -%}
				                            {%- assign socialTitle = '' -%}
				                            {%- assign socialFacebook = block.settings.facebook -%}
				                            {%- assign socialTwitter = block.settings.twitter -%}
				                            {%- assign socialInstagram = block.settings.instagram -%}
				                            {%- assign socialPinterest = block.settings.pinterest -%}
				                            {%- assign socialYoutube = '' -%}
				                            {%- assign socialGooglePlus = block.settings.googleplus -%}
				                            {%- assign socialRss = '' -%}
				                            <div class="memberSocials">
				                                {% include 'bingo-social' %}
				                            </div>
	                    				</div>
                    				{%- endif -%}
                    				<div class="memberInformation">
                    					<h4 class="name">{{ block.settings.title }}</h4>
                    					<div class="position">{{ block.settings.position }}</div>
                    				</div>
                    			</div>
                    		</div>
                		{% endfor %}
                	</div>
				{%- endif -%}
			</div>
		</div>
	{%- endif -%}
	{%- if section.settings.reviews -%}
		<div class="customerReviews">
			{%- if section.settings.reviews_title != blank -%}
				<h3 class="reviewsTitle">{{ section.settings.reviews_title }}</h3>
			{%- endif -%}
			{%- if section.settings.reviews_avatar != blank -%}
				<div class="customerAvatar">
					<img class="img-responsive" alt="{{ section.settings.reviews_avatar.alt | default: shop.name }}" src="{{ section.settings.reviews_avatar | img_url: 'master' }}" />
				</div>
			{%- endif -%}
			<div class="reviewContent">
				{%- if section.settings.reviews_content != blank -%}
					<div class="reviews">{{ section.settings.reviews_content }}</div>
				{%- endif -%}
				{%- if section.settings.reviews_name != blank -%}
					<div class="customerName">{{ section.settings.reviews_name }}</div>
				{%- endif -%}
			</div>
		</div>
	{%- endif -%}
</div>
{% schema %}
    {
        "name": "Bingo About Us",
        "max_blocks": 10,
        "settings": [
            {
                "type": "header",
                "content": "Customer Reviews"
            },
            {
                "type": "checkbox",
                "id": "reviews",
                "label": "Show customer reviews"
            },
            {
                "type": "text",
                "id": "reviews_title",
                "label": "Block title",
                "placeholder": "Title"
            },
            {
                "type": "text",
                "id": "reviews_name",
                "label": "Customer name",
                "placeholder": "Name"
            },
            {
                "type": "textarea",
                "id": "reviews_content",
                "label": "Customer reviews",
                "placeholder": "Content"
            },
            {
                "type": "image_picker",
                "id": "reviews_avatar",
                "label": "Customer avatar"
            },
            {
                "type": "header",
                "content": "Our Teams"
            },
            {
                "type": "checkbox",
                "id": "ourteams",
                "label": "Show our teams"
            },
            {
                "type": "text",
                "id": "ourteams_title",
                "label": "Block title",
                "placeholder": "Title"
            }
        ],
        "blocks": [
	        {
	            "type": "item",
	            "name": "Member",
	            "settings": [
	                {
	                    "type": "text",
	                    "id": "title",
	                    "label": "Name",
	                    "placeholder": "Member name"
	                },
	                {
	                    "type": "text",
	                    "id": "position",
	                    "label": "Position",
	                    "placeholder": "Member position"
	                },
	                {
	                    "type": "image_picker",
	                    "id": "avatar",
	                    "label": "Avatar"
	                },
	                {
		                "type": "header",
		                "content": "Socials"
		            },
	                {
	                    "type": "text",
	                    "id": "facebook",
	                    "label": "Facebook URL",
	                    "placeholder": "Facebook"
	                },
	                {
	                    "type": "text",
	                    "id": "twitter",
	                    "label": "Twitter URL",
	                    "placeholder": "Twitter"
	                },
	                {
	                    "type": "text",
	                    "id": "instagram",
	                    "label": "Instagram URL",
	                    "placeholder": "Instagram"
	                },
	                {
	                    "type": "text",
	                    "id": "pinterest",
	                    "label": "Pinterest URL",
	                    "placeholder": "Pinterest"
	                },
	                {
	                    "type": "text",
	                    "id": "googleplus",
	                    "label": "Googleplus URL",
	                    "placeholder": "Googleplus"
	                }
	            ]
	        }
        ]
    }
{% endschema %}