{% comment %} SET VARIABLES {% endcomment %}
{% if page_title == 'Halloween 2018' %}
    {% capture containerClass %} brands-page halloween-page {% endcapture %}
{% else %}
    {% capture containerClass %} brands-page {% endcapture %}
{% endif %}
{% capture customDiscount %}Black Friday{% endcapture %}
{% capture customDiscountHTMLtop %}
            <div  class="black-friday-container">
                <div class="brands-info container text-center">
                    <h1 class="brands-info__heading-main">Flash sale</h1>
                    <h2 class="brands-info__heading-secondary">Up to 70% off</h2>
                    {% comment %} <p class="pushcrew-paragraph">Get on the shortlist and be the first to know when our promotion goes live. <br>
                        <b>Hurry up! Our promo section opens this friday!</b>
                    </p>
                    <button class="pushcrew-btn" onclick="_pcq.push(['triggerOptIn'])">Enter now</button> {% endcomment %}
                </div>
            </div>

            {% comment %} 
                <div style="backgound-color:#000;padding: 20px 0" class="col-md-12 text-center">
                    <img class="blurred-products-desktop" src="{{ "blurredproducts.jpg" | asset_url }}" />
                    <img class="blurred-products-mobile img-responsive" src="{{ "blurredproductsmobile.jpg" | asset_url }}" />
                </div> 
            {% endcomment %}
{% endcapture %}

{% capture defaultHTML %}
    <div style="background-color:#f5f5f5">
                    <div  class="brands-info container">
                        <div class="row binimalCollTop">
                            <div class="brands-info__image col-md-12">
                                {% if collection.image %}
                                        <div>
                                            <img style="max-width:300px;margin: 30px auto 30px auto;" class="img-responsive" src="{{ collection.image.src | collection_img_url: 'original' }}" alt="{{ collection.image.alt }}" />
                                        </div>
                                {% endif %}
                            </div>
                            <div class="brands-info__description col-md-10 col-md-push-1 text-center">
                                {% if collection.description != blank %}
                                            <div class="rte rteHeader">
                                                {{ collection.description }}
                                            </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
{% endcapture %}
{% comment %} END VARIABLES {% endcomment %}

<section class="{{ containerClass }}" id="pageContent">
        {% if page_title == 'Halloween 2018' %}
            <div class="halloween-collection-img" style="background-color:#f5f5f5">
                <div  class="brands-info container">
                    <div class="row binimalCollTop">
                        <div class="brands-info__image col-md-6">
                            {% if collection.image %}
                                    <div class="text-left">
                                        
                                    </div>
                            {% endif %}
                        </div>
                        <div class="brands-info__description col-md-6 col-md-push-1 text-right">
                            {% if collection.description != blank %}
                                        <div class="rte rteHeader text-right">
                                            <h2 style="font-family:'Open Sans Condensed', sans-serif;color:#fff;font-size:42px;text-transform: uppercase;">
                                                #Halloween2018
                                            </h2>
                                            <h3 style="font-size:18px;text-transform:uppercase;letter-spacing:2px;margin-top:0;">Trick or Treat? Why choose!?</h3>
                                            <p>This Halloween treat yourself to some <b>#SweetDiscounts</b> on your favourite beauty tricks. 
                                                Shop with up to 40% OFF your favourite brands! </p>
                                        </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% elsif page_title == customDiscount %}
           {{customDiscountHTMLtop}}
        {% else %}
            {{ defaultHTML }}
        {% endif %}
    

        <div class="container">
            <div class="row" style="margin-top:5rem">
                <div class="col-md-12">
                <div class="" style="">
                        {% if page_title == 'Halloween 2018' %}
                            <h3 class="bingoHomeTitle">Bloody sweet discounts</h3>
                        {% elsif page_title == customDiscount %}
                            <h3 class="bingoHomeTitle">Black friday collection</h3>                        
                        {% else %}
                            <h3 class="bingoHomeTitle">Explore the brand</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div id="proListCollection" class="bingoCenterColumn col-xs-12">
                    {% if collection.products_count == 0 %}
                        There are no products in this collection.
                    {% else %}
                        {% section 'bingo-template-collections' %}
                    {% endif %}
                </div>
            </div>
        </div>
</section>
{{ section.settings.display_reviews }}
<style>
    .brands-page {
        position:relative;
        top:-39px;
    }

    .blurred-products-mobile {
        display: none;
    }

    .black-friday-container {
        background-size: 600px;
        background-position: center center;
        display:flex;
        padding: 50px 0 40px 0;
        align-items: center;
        color:#fff;
        background-repeat: no-repeat;
        background: rgb(56,56,56);
        background: radial-gradient(circle, rgba(56,56,56,1) 7%, rgba(0,0,0,1) 90%);  
    }

    .black-friday-container .brands-info__heading-main {
        font-family: "Hello Denver Regular", sans-serif;
        font-size: 110px;
        text-shadow: 1px 1px 0 rgba(228, 84, 218,.5), 
                     0px 0px 20px rgba(255, 70, 242, .5), 
                     0px 0px 20px rgba(255, 70, 242, .5), 
                     0px 0px 20px rgba(255, 70, 242, .5), 
                     0px 0px 20px rgba(255, 70, 242, .5), 
                     0px 0px 20px rgba(255, 70, 242, .5);
        text-transform: uppercase;
        margin-bottom: 0;
        color: #f7bef3;
        mix-blend-mode: screen;
    }

    .black-friday-container .brands-info__heading-secondary {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .black-friday-container .brands-info p {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 25px;
        letter-spacing: .03em;
    }

    .black-friday-container .brands-info button {
        background-color: #f7bef3;
        font-size: 40px;
        color:#000;
        font-weight: 700;
        border: none;
        padding: 3px 75px;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    .brands-info__description{
        line-height: 24px; 
        color:#595959;  
        font-size:15px; 
    }

    .brands-info .binimalCollTop {
        padding: 4rem 0;
    } 

    .halloween-collection-img {
        background-image: url({{ 'halloween-lips.jpg' | asset_url }});
        background-size: cover;
        background-position: right center;
        height: 400px;
        display:flex;
        align-items: center;
        background-color:#f5f5f5;
        background-repeat: no-repeat;
    }

    .halloween-page .brands-info__description {
        color: #fff;
    }

    .halloween-page .labelSale {
        background-color: transparent;
        border-radius: 0;
        background-image: url({{ 'splash2.png' | asset_url }});
        background-size: contain;
        font-family: 'Creepster', sans-serif;
    }

    .halloween-page .binimalCollTop {
        position: relative;
        {% comment %} padding: 0; {% endcomment %}
    }

    .halloween-page .brands-info__description {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
    }

    @media (max-width: 767px) {
        .halloween-page .halloween-collection-img  {
            background-size: cover;
            background-position: center;
            height: 240px;
        }

        .halloween-page .brands-info__description {
            display: none;
        }
        .halloween-page .bingoHomeTitle:before,
        .halloween-page .bingoHomeTitle:after {
            display: none;
        }
        .halloween-page .bingoHomeTitle {
            font-size: 19px;
        }

        .blurred-products-mobile {
            display: block;
        }
        .blurred-products-desktop {
            display: none;
        }

        .black-friday-container .brands-info__heading-main {
            font-size: 60px;
        }

        .black-friday-container .brands-info__heading-secondary {
            font-size: 45px;
        }
        .black-friday-container .brands-info p {
            font-size: 12px;
        }

        .black-friday-container .brands-info button {
            font-size: 28px;
            padding: 3px 50px;
        }
    }

    @media (max-width: 479px) {
        .brands-info__description {
            padding-right: 0;
        }
        .brands-info__description .rteHeader span,
        .brands-info__description .rteHeader{ 
            text-align: center;
            display: block;
        }

        .brands-info__image img {
            max-width: 60%;
            margin: 0 auto 20px auto;
        }

        .brands-info .binimalCollTop {
            padding: 2rem 0;
        } 
    }

    @media (max-width: 380px) { 
        .black-friday-container .brands-info__heading-main {
            font-size: 50px;
        }

        .black-friday-container .brands-info__heading-secondary {
            font-size: 35px;
        }
    }
</style>
