{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="binimalCollTop">
            <h1 class="headerCollection">{{ collection.title }}</h1>
            <div class="collBoxSort">
                {% include 'collection-sorting' %}
            </div>
        </div>
        <div class="row">
          	<div id="proListCollection" class="bingoCenterColumn col-xs-12 col-sm-8 col-md-9">
              	{% section 'bingo-template-collections' %}
          	</div>
          	<aside id="bingoSidebar" class="bingoSidebar col-xs-12 col-sm-4 col-md-3">
      		    {% section 'sidebartop' %}
              	{% section 'sidebartag' %}
              	{% section 'sidebarprice' %}
              	{% section 'sidebarbanner' %}
          	</aside>
        </div>
    </div>
</section>