{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="listCollectionsWrap">
            {% section 'bingo-tempate-listcoll' %}
        </div>
    </div>
</section>