{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="pageContainer faqPageContainer">
            {% section 'bingo-template-faq' %}
        </div>
    </div>
</section>
