{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}
    <section id="pageContent">
        <div class="container">
            <div class="bingoSearchContainer">
                {% paginate search.results by 12 %}
                    {% if search.performed %}
                        {% if search.results_count == 0 %}
                            <h1 class="bingoSearchTitle">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
                        {% else %}
                            <h1 class="bingoSearchTitle">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
                        {% endif %}
                    {% else %}
                        <h1 class="bingoSearchTitle">{{ 'general.search.title' | t }}</h1>
                    {% endif %}
                    <div class="searchPageBox">
                        {% include 'bingo-searchpage' %}
                    </div>
                    {% if search.performed %}
                        {%- assign proImageSize = '270x' -%}
                        <div class="collBoxProducts">
                            <div class="proList grid">
                                <div class="bingoFlexRow flexRow">
                                    {% for product in search.results %}
                                    {% include 'bold-product' with item, hide_action: 'skip' %}

                                        {% include 'product-grid-item' with 'col-sp-12 col-xs-6 col-md-3' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div id="searchPagination">
                            {% include 'bingo-pagination' %}
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
        </div>
    </section>
{% else %}
     {% include 'respond' %}
     {% layout none %}
{% endunless %}